Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}": ["prettier --write"],
  "./**/package.json": ["sort-package-json"]
}

build: fix vite config (#433)
  viteconfig.lib.mts
Due: none

Notes added by 'git notes add'
  2b6ecffceecfd46aeda2ddcbd3090f21f68b5357
Due: none

lint fix
  src/components/organisms/EditorSyntaxMenu/switches/decoration.ts
Due: eslint --fix, prettier --write

chore: add build step to reusable-unittest
  .github/workflows/reusable-unittest.yml
Due: prettier --write

chore: add build step to reusable-unittest (#435)
  .github/workflows/reusable-unittest.yml
Due: prettier --write

downgrade eslint
  .pnp.cjs
  .yarn/cache/@eslint-config-array-npm-0.18.0-bb4bc4e301-60ccad1eb4.zip
  .yarn/cache/@eslint-config-array-npm-0.19.0-23614541c1-16e4ec468e.zip
  .yarn/cache/@eslint-core-npm-0.7.0-55f1b6f05c-69227f33fd.zip
  .yarn/cache/@eslint-core-npm-0.9.0-a4420a370d-2d11e9c6fa.zip
  .yarn/cache/@eslint-js-npm-9.14.0-778d6db19a-897e26bd68.zip
  .yarn/cache/eslint-npm-9.14.0-04ed57b338-6ce59dda56.zip
  .yarn/cache/eslint-npm-9.15.0-5469d28713-7ac1a2e607.zip
  .yarn/cache/text-table-npm-0.2.0-d92a778b59-4383b5baae.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  package.json
Due: prettier --write, sort-package-json

.
  yarn.lock
Due: none

.
  .pnp.cjs
  .yarn/cache/@types-prettier-npm-3.0.0-6c770110eb-a2a512d304.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix typecheck
  src/components/molecules/cursor/Cursor/hooks.ts
  src/components/molecules/selection/Selection/hooks.ts
  src/components/organisms/EditorRoot/hooks.ts
  src/components/organisms/EditorRoot/index.tsx
  src/components/organisms/EditorTextFieldRoot/hooks.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  332af4c7cf62eb0914c81505e6f8e317bc351a6b
Due: none

Notes added by 'git notes add'
  cbca39bca6e179005bcc90927d4fc82a820f5e74
Due: none

chore: fix storybook build
  .storybook/main.mts
Due: none

build: downgrade react to v18
  .pnp.cjs
  .yarn/cache/@types-prop-types-npm-15.7.14-4ccaa07795-d0c5407b9c.zip
  .yarn/cache/@types-react-dom-npm-18.3.1-15935b4e84-33f9ba79b2.zip
  .yarn/cache/@types-react-dom-npm-19.0.2-4dc66e9162-d2ae81ec0b.zip
  .yarn/cache/@types-react-npm-18.3.12-69c5fbaab9-c9bbdfeacd.zip
  .yarn/cache/react-dom-npm-18.3.1-a805663f38-3f4b73a3aa.zip
  .yarn/cache/react-dom-npm-19.0.0-b7981c573e-aa64a2f199.zip
  .yarn/cache/react-npm-18.3.1-af38f3c1ae-261137d3f3.zip
  .yarn/cache/react-npm-19.0.0-e33c9aa1c0-2490969c50.zip
  .yarn/cache/scheduler-npm-0.23.2-6d1dd9c2b7-e8d68b89d1.zip
  .yarn/cache/scheduler-npm-0.25.0-f89e6cad04-e661e38503.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix type error
  src/components/molecules/cursor/Cursor/hooks.ts
  src/components/molecules/selection/Selection/hooks.ts
  src/components/organisms/EditorTextFieldRoot/hooks.ts
Due: eslint --fix, prettier --write

build: downgrade react to v18 (#445)
  .pnp.cjs
  .yarn/cache/@types-prop-types-npm-15.7.14-4ccaa07795-d0c5407b9c.zip
  .yarn/cache/@types-react-dom-npm-18.3.1-15935b4e84-33f9ba79b2.zip
  .yarn/cache/@types-react-dom-npm-19.0.2-4dc66e9162-d2ae81ec0b.zip
  .yarn/cache/@types-react-npm-18.3.12-69c5fbaab9-c9bbdfeacd.zip
  .yarn/cache/react-dom-npm-18.3.1-a805663f38-3f4b73a3aa.zip
  .yarn/cache/react-dom-npm-19.0.0-b7981c573e-aa64a2f199.zip
  .yarn/cache/react-npm-18.3.1-af38f3c1ae-261137d3f3.zip
  .yarn/cache/react-npm-19.0.0-e33c9aa1c0-2490969c50.zip
  .yarn/cache/scheduler-npm-0.23.2-6d1dd9c2b7-e8d68b89d1.zip
  .yarn/cache/scheduler-npm-0.25.0-f89e6cad04-e661e38503.zip
  package.json
  src/components/molecules/cursor/Cursor/hooks.ts
  src/components/molecules/selection/Selection/hooks.ts
  src/components/organisms/EditorTextFieldRoot/hooks.ts
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

Notes added by 'git notes add'
  a150765a8c7d2c07e8192808d6ba2ccb2f31123b
Due: none

downgrade yarn
  .pnp.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  b499bb3d9b62652482ec993b0208caada07898fd
Due: none

fix
  src/components/organisms/EditorTextFieldBody/common/selection.ts
Due: eslint --fix, prettier --write

chore: update dependencies
  .pnp.cjs
  .yarn/cache/@eslint-core-npm-0.11.0-38ee7b6834-0a055edf51.zip
  .yarn/cache/@eslint-js-npm-9.19.0-12d90bd733-d8133a8333.zip
  .yarn/cache/@eslint-js-npm-9.20.0-86701063ff-2304cd7257.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.28.1-8b699911da-10.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.34.6-bb611f2be6-10.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.23.0-b3e7a7136e-3900a86f6e.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.24.0-aa91fbc5a0-2b65131dab.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.23.0-798a01aba9-7c3ae38665.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.24.0-ce3ea2ad95-b5c66a3208.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.23.0-437414802f-eb4624ccd9.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.24.0-ebd5c7755e-175032d4f7.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.23.0-3e68bceaa0-b036a48c5e.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.24.0-491c01e5d1-a6558d0b0a.zip
  .yarn/cache/@typescript-eslint-types-npm-8.23.0-972ca6e315-e2a68bc6e8.zip
  .yarn/cache/@typescript-eslint-types-npm-8.24.0-79e1deef4b-ddaaec99c1.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.23.0-1907506b84-ddc9790d46.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.24.0-0efb13ddb1-89e451f5d2.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.23.0-ab8e41bb24-72588d617e.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.24.0-ff783b2b9b-773a4085e4.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.23.0-7428536446-fd473849b8.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.24.0-55da63df3a-a93bc9e587.zip
  .yarn/cache/eslint-npm-9.19.0-e70f56e959-850d19fd6a.zip
  .yarn/cache/eslint-npm-9.20.0-c04a283582-6a7686fbda.zip
  .yarn/cache/postcss-npm-8.4.49-1c13833dd1-28fe1005b1.zip
  .yarn/cache/postcss-npm-8.5.2-53c3155d31-e08c2be3cf.zip
  .yarn/cache/prettier-npm-3.4.2-fae349e44a-a3e806fb0b.zip
  .yarn/cache/prettier-npm-3.5.0-597a8f3ced-fc26c74bd3.zip
  .yarn/cache/remark-gfm-npm-4.0.0-8bb699e315-9f7b17aae0.zip
  .yarn/cache/remark-gfm-npm-4.0.1-f55aaba8ef-86899862cf.zip
  .yarn/cache/rollup-npm-4.28.1-46dc492ca0-4337898d07.zip
  .yarn/cache/rollup-npm-4.34.6-b6bc3b6a7d-b14fa98698.zip
  .yarn/cache/vite-npm-6.0.11-8299edf213-753d06b07a.zip
  .yarn/cache/vite-npm-6.1.0-47729056a0-5de360ac0e.zip
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#449)
  .pnp.cjs
  .yarn/cache/@eslint-core-npm-0.11.0-38ee7b6834-0a055edf51.zip
  .yarn/cache/@eslint-js-npm-9.19.0-12d90bd733-d8133a8333.zip
  .yarn/cache/@eslint-js-npm-9.20.0-86701063ff-2304cd7257.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.28.1-8b699911da-10.zip
  .yarn/cache/@rollup-rollup-darwin-x64-npm-4.34.6-bb611f2be6-10.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.23.0-b3e7a7136e-3900a86f6e.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.24.0-aa91fbc5a0-2b65131dab.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.23.0-798a01aba9-7c3ae38665.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.24.0-ce3ea2ad95-b5c66a3208.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.23.0-437414802f-eb4624ccd9.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.24.0-ebd5c7755e-175032d4f7.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.23.0-3e68bceaa0-b036a48c5e.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.24.0-491c01e5d1-a6558d0b0a.zip
  .yarn/cache/@typescript-eslint-types-npm-8.23.0-972ca6e315-e2a68bc6e8.zip
  .yarn/cache/@typescript-eslint-types-npm-8.24.0-79e1deef4b-ddaaec99c1.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.23.0-1907506b84-ddc9790d46.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.24.0-0efb13ddb1-89e451f5d2.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.23.0-ab8e41bb24-72588d617e.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.24.0-ff783b2b9b-773a4085e4.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.23.0-7428536446-fd473849b8.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.24.0-55da63df3a-a93bc9e587.zip
  .yarn/cache/eslint-npm-9.19.0-e70f56e959-850d19fd6a.zip
  .yarn/cache/eslint-npm-9.20.0-c04a283582-6a7686fbda.zip
  .yarn/cache/postcss-npm-8.4.49-1c13833dd1-28fe1005b1.zip
  .yarn/cache/postcss-npm-8.5.2-53c3155d31-e08c2be3cf.zip
  .yarn/cache/prettier-npm-3.4.2-fae349e44a-a3e806fb0b.zip
  .yarn/cache/prettier-npm-3.5.0-597a8f3ced-fc26c74bd3.zip
  .yarn/cache/remark-gfm-npm-4.0.0-8bb699e315-9f7b17aae0.zip
  .yarn/cache/remark-gfm-npm-4.0.1-f55aaba8ef-86899862cf.zip
  .yarn/cache/rollup-npm-4.28.1-46dc492ca0-4337898d07.zip
  .yarn/cache/rollup-npm-4.34.6-b6bc3b6a7d-b14fa98698.zip
  .yarn/cache/vite-npm-6.0.11-8299edf213-753d06b07a.zip
  .yarn/cache/vite-npm-6.1.0-47729056a0-5de360ac0e.zip
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json
