Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}": ["prettier --write"],
  "./**/package.json": ["sort-package-json"]
}

update node
  .github/workflows/reusable-ghpages.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/reusable-unittest.yml
  .tool-versions
Due: prettier --write

Notes added by 'git notes add'
  8ed210053f2cedd4eb4b0d0bcd2e42a5b4757ced
Due: none

Notes added by 'git notes add'
  696e3f9afa68d3b66d223b7caaae46e592097d51
Due: none

.
  src/components/organisms/EditorSyntaxMenu/callbacks/common/line.ts
  src/components/organisms/EditorSyntaxMenu/callbacks/link.ts
  src/components/organisms/EditorSyntaxMenu/hooks/contentPosition.ts
  src/components/organisms/EditorSyntaxMenu/hooks/taggedLink.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  625bfea185e4ae5c26ba6e9119ca00048596c850
Due: none

.
  .yarn/sdks/prettier/package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  ed36cece329cea926b63b7152d5c788c21c54e6f
Due: none
