Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: support hashtag link and bracket link (#17)
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
  src/index.tsx
Due: eslint --fix

rename
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
Due: eslint --fix

feat: support disabling link
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
Due: eslint --fix

fix
  src/Selection/utils.ts
Due: eslint --fix

feat: support disabling link (#19)
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Selection/utils.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
Due: eslint --fix

v0.2.0
  package.json
Due: prettier --write

docs: update sample
  sample/src/App.tsx
Due: none

fix
  sample/src/App.tsx
Due: none

docs: update sample (#20)
  sample/src/App.tsx
Due: none

rename
  src/TextLines/constants.ts
  src/TextLines/utils.ts
Due: eslint --fix

add taggedLink props
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/types.tsx
  src/index.tsx
Due: eslint --fix

done
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
  src/index.tsx
Due: eslint --fix

feat: support tagged link (#22)
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
  src/index.tsx
Due: eslint --fix

fix: don't use style attribute
  .vscode/settings.json
  package.json
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

fix: don't use style attribute (#23)
  .vscode/settings.json
  package.json
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

v0.3.0
  package.json
Due: prettier --write

refine click outside
  src/Editor/index.tsx
Due: eslint --fix

tmp
  src/Cursor/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

tmp
  src/Cursor/index.tsx
  src/Cursor/types.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/utils.ts
Due: eslint --fix

delete compoition end
  src/Cursor/index.tsx
  src/Cursor/types.tsx
  src/Editor/index.tsx
  src/Editor/utils.ts
Due: eslint --fix

done
  src/Cursor/index.tsx
  src/Cursor/types.tsx
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

fix: key and IME bug (#26)
  src/Cursor/index.tsx
  src/Cursor/types.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

v0.3.1
  package.json
Due: prettier --write

rename
  src/Cursor/types.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Selection/types.tsx
  src/Selection/utils.ts
Due: eslint --fix

tmp
  src/Editor/index.tsx
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/Selection/types.tsx
  src/Selection/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

refactor utils
  src/Cursor/utils.ts
  src/Editor/utils.ts
  src/Selection/index.tsx
  src/Selection/types.tsx
  src/Selection/utils.ts
Due: eslint --fix

impl textAreaPosition
  src/Selection/utils.ts
Due: eslint --fix

tmp
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/utils.ts
  src/Selection/index.tsx
  src/Selection/utils.ts
  src/TextLines/utils.ts
  src/common.ts
Due: eslint --fix

fix
  src/Cursor/index.tsx
Due: eslint --fix

tmp
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/Selection/types.tsx
  src/common.ts
Due: eslint --fix

tmp
  src/Editor/index.tsx
  src/Selection/types.tsx
  src/style.css
Due: eslint --fix, prettier --write

add event arg
  src/Cursor/index.tsx
  src/Cursor/types.tsx
  src/Editor/index.tsx
  src/Editor/utils.ts
Due: eslint --fix

maybe done
  src/Cursor/index.tsx
  src/Cursor/types.tsx
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/Selection/utils.ts
Due: eslint --fix

fix
  src/Editor/utils.ts
Due: eslint --fix

type
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

feat: support short-cut commands (#27)
  src/Cursor/index.tsx
  src/Cursor/types.tsx
  src/Cursor/utils.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/constants.ts
  src/Selection/types.tsx
  src/Selection/utils.ts
  src/TextLines/utils.ts
  src/common.ts
  src/style.css
Due: eslint --fix, prettier --write

option state
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

add empty
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

maybe done
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix

fix
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
