Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,tests,sample}/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,ts,tsx,yaml,yml}": ["prettier --write"]
}

v0.23.0
  package.json
Due: prettier --write

chore: update package.json
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

.
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#197)
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: update nodejs to v16
  .node-version
  package.json
  yarn.lock
Due: prettier --write

.
  .github/workflows/run-test.yml
  .node-version
Due: prettier --write

chore: update nodejs to v16 (#198)
  .github/workflows/run-test.yml
  .node-version
  package.json
  yarn.lock
Due: prettier --write

refactor: shorten import names
  tests/Cursor/uiSuggestionList.test.tsx
  tests/Editor/clipboard.test.tsx
  tests/Editor/composition.test.tsx
  tests/Editor/keyboard.test.tsx
  tests/Editor/keyboardSelection.test.tsx
  tests/Editor/mouseSelection.test.tsx
Due: eslint --fix, prettier --write

refactor: shorten import names (#199)
  tests/Cursor/uiSuggestionList.test.tsx
  tests/Editor/clipboard.test.tsx
  tests/Editor/composition.test.tsx
  tests/Editor/keyboard.test.tsx
  tests/Editor/keyboardSelection.test.tsx
  tests/Editor/mouseSelection.test.tsx
Due: eslint --fix, prettier --write

.
  .eslintignore
  package.json
  webpack.config.common.js
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
  yarn.lock
Due: prettier --write

.
  @types/processEnv.d.ts
  src/Cursor/index.tsx
  src/Editor/index.tsx
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  src/TextLines/components/index.tsx
  src/common/types.ts
  src/common/utils.ts
  webpack.config.js
Due: eslint --fix, prettier --write

.
  yarn.lock
Due: none

.
  tests/Editor/keyboard.test.tsx
  tests/TextLines/parseText.test.ts
  tests/TextLines/uiTextLines.test.tsx
Due: eslint --fix, prettier --write

.
  test-fixtures/common/testid.json
  tests/common/testid.test.tsx
Due: eslint --fix, prettier --write

fix: remove data-testid from production code (#201)
  .eslintignore
  @types/processEnv.d.ts
  package.json
  src/Cursor/index.tsx
  src/Editor/index.tsx
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  src/TextLines/components/index.tsx
  src/common/types.ts
  src/common/utils.ts
  test-fixtures/common/testid.json
  tests/Editor/keyboard.test.tsx
  tests/TextLines/parseText.test.ts
  tests/TextLines/uiTextLines.test.tsx
  tests/common/testid.test.tsx
  webpack.config.common.js
  webpack.config.dev.js
  webpack.config.js
  webpack.config.prod.js
  yarn.lock
Due: eslint --fix, prettier --write

v0.23.1
  .yarnrc.yml
  package.json
Due: prettier --write

build: support commonjs
  package.json
  tsconfig.build.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: prettier --write

build: support commonjs (#202)
  package.json
  tsconfig.build.json
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: prettier --write

v0.24.0
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: fix parseInlineCode
  src/TextLines/parser/parseContent.ts
  test-fixtures/TextLines/parseBracketText.json
  test-fixtures/TextLines/parseCommonText.json
  test-fixtures/TextLines/parseMarkdownText.json
Due: eslint --fix, prettier --write

fix: fix parseInlineCode (#204)
  src/TextLines/parser/parseContent.ts
  test-fixtures/TextLines/parseBracketText.json
  test-fixtures/TextLines/parseCommonText.json
  test-fixtures/TextLines/parseMarkdownText.json
Due: eslint --fix, prettier --write

v0.24.1
  package.json
Due: prettier --write

fix: make process.env optional
  src/common/utils.ts
Due: eslint --fix, prettier --write

fix: make process.env optional (#205)
  src/common/utils.ts
Due: eslint --fix, prettier --write

v0.24.2
  package.json
Due: prettier --write

fix: dont use provess.env
  src/common/utils.ts
  test-fixtures/common/testid.json
  tests/common/testid.test.tsx
Due: eslint --fix, prettier --write

fix: dont use provess.env (#206)
  src/common/utils.ts
  test-fixtures/common/testid.json
  tests/common/testid.test.tsx
Due: eslint --fix, prettier --write

v0.24.3
  package.json
Due: prettier --write

chore: update dependencies (#208)
  package.json
  yarn.lock
Due: prettier --write

fix: color on hover
  sample/src/style.css
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/style.css
Due: eslint --fix, prettier --write

fix: color on hover (#209)
  sample/src/style.css
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/style.css
Due: eslint --fix, prettier --write

v0.25.0
  package.json
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#219)
  package.json
  yarn.lock
Due: prettier --write

.
  src/Editor/style.css
  src/TextLines/constants.ts
Due: eslint --fix, prettier --write
