Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

default text
  sample/src/App.tsx
Due: none

fix
  sample/src/App.tsx
Due: none

chore: add .editorconfig
  .editorconfig
  README.md
Due: prettier --write

update
  .editorconfig
Due: none

chore: add editorconfig (#3)
  .editorconfig
  README.md
Due: prettier --write

fix: cursor remains even after scrolling
  dist/Cursor/index.d.ts
  dist/Cursor/index.js
  dist/Cursor/utils.d.ts
  dist/Cursor/utils.js
  src/Cursor/index.tsx
  src/Cursor/utils.ts
Due: eslint --fix, prettier --write

fix: cursor remains even after scrolling (#10)
  dist/Cursor/index.d.ts
  dist/Cursor/index.js
  dist/Cursor/utils.d.ts
  dist/Cursor/utils.js
  src/Cursor/index.tsx
  src/Cursor/utils.ts
Due: eslint --fix, prettier --write

fix: don't use id and getElementById
  dist/Cursor/index.d.ts
  dist/Cursor/index.js
  dist/Cursor/utils.d.ts
  dist/Cursor/utils.js
  dist/Editor/constants.d.ts
  dist/Editor/constants.js
  dist/Editor/index.d.ts
  dist/Editor/index.js
  dist/Editor/utils.js
  dist/Selection/index.d.ts
  dist/Selection/index.js
  dist/Selection/utils.d.ts
  dist/Selection/utils.js
  dist/TextLines/constants.d.ts
  dist/TextLines/constants.js
  dist/TextLines/index.js
  dist/TextLines/utils.d.ts
  dist/TextLines/utils.js
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/Selection/index.tsx
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

multiple editors sample
  sample/src/App.tsx
Due: none

fix: don't use id and getElementById (#11)
  dist/Cursor/index.d.ts
  dist/Cursor/index.js
  dist/Cursor/utils.d.ts
  dist/Cursor/utils.js
  dist/Editor/constants.d.ts
  dist/Editor/constants.js
  dist/Editor/index.d.ts
  dist/Editor/index.js
  dist/Editor/utils.js
  dist/Selection/index.d.ts
  dist/Selection/index.js
  dist/Selection/utils.d.ts
  dist/Selection/utils.js
  dist/TextLines/constants.d.ts
  dist/TextLines/constants.js
  dist/TextLines/index.js
  dist/TextLines/utils.d.ts
  dist/TextLines/utils.js
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/Selection/index.tsx
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

delete dist dir
  .gitignore
  .huskyrc.json
  dist/Cursor/constants.d.ts
  dist/Cursor/constants.js
  dist/Cursor/index.d.ts
  dist/Cursor/index.js
  dist/Cursor/types.d.ts
  dist/Cursor/types.js
  dist/Cursor/utils.d.ts
  dist/Cursor/utils.js
  dist/Editor/constants.d.ts
  dist/Editor/constants.js
  dist/Editor/index.d.ts
  dist/Editor/index.js
  dist/Editor/types.d.ts
  dist/Editor/types.js
  dist/Editor/utils.d.ts
  dist/Editor/utils.js
  dist/Selection/constants.d.ts
  dist/Selection/constants.js
  dist/Selection/index.d.ts
  dist/Selection/index.js
  dist/Selection/types.d.ts
  dist/Selection/types.js
  dist/Selection/utils.d.ts
  dist/Selection/utils.js
  dist/TextLines/constants.d.ts
  dist/TextLines/constants.js
  dist/TextLines/index.d.ts
  dist/TextLines/index.js
  dist/TextLines/types.d.ts
  dist/TextLines/types.js
  dist/TextLines/utils.d.ts
  dist/TextLines/utils.js
  dist/index.d.ts
  dist/index.js
Due: prettier --write

fix
  package.json
  sample/src/App.tsx
Due: prettier --write

v0.1.0
  package.json
Due: prettier --write

private false
  package.json
Due: prettier --write

chore: release to npm (#12)
  .gitignore
  .huskyrc.json
  dist/Cursor/constants.d.ts
  dist/Cursor/constants.js
  dist/Cursor/index.d.ts
  dist/Cursor/index.js
  dist/Cursor/types.d.ts
  dist/Cursor/types.js
  dist/Cursor/utils.d.ts
  dist/Cursor/utils.js
  dist/Editor/constants.d.ts
  dist/Editor/constants.js
  dist/Editor/index.d.ts
  dist/Editor/index.js
  dist/Editor/types.d.ts
  dist/Editor/types.js
  dist/Editor/utils.d.ts
  dist/Editor/utils.js
  dist/Selection/constants.d.ts
  dist/Selection/constants.js
  dist/Selection/index.d.ts
  dist/Selection/index.js
  dist/Selection/types.d.ts
  dist/Selection/types.js
  dist/Selection/utils.d.ts
  dist/Selection/utils.js
  dist/TextLines/constants.d.ts
  dist/TextLines/constants.js
  dist/TextLines/index.d.ts
  dist/TextLines/index.js
  dist/TextLines/types.d.ts
  dist/TextLines/types.js
  dist/TextLines/utils.d.ts
  dist/TextLines/utils.js
  dist/index.d.ts
  dist/index.js
  package.json
  sample/src/App.tsx
Due: prettier --write

build: deploy to github pages
  package.json
  yarn.lock
Due: prettier --write

fix
  README.md
  package.json
Due: prettier --write

build: deploy to github pages (#13)
  README.md
  package.json
  yarn.lock
Due: prettier --write

fix: fix bugs
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/utils.ts
Due: eslint --fix

fix: fix bugs (#14)
  sample/src/App.tsx
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/utils.ts
Due: eslint --fix

v0.1.1
  package.json
Due: prettier --write

v0.1.1 (#15)
  package.json
Due: prettier --write

refactor: don't use moveCount
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

refactor: don't use moveCount (#16)
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

rename enum
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

refactor
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
Due: eslint --fix

fix constants
  src/Editor/constants.ts
  src/TextLines/constants.ts
Due: eslint --fix

fix: fix cursor bug
  src/Cursor/utils.ts
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix

del
  src/TextLines/index.tsx
Due: eslint --fix

v0.1.2
  package.json
Due: prettier --write

fix: fix selection bug (#18)
  package.json
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix, prettier --write

tmp
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
  src/index.tsx
Due: eslint --fix

tmp
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
Due: eslint --fix

done
  src/Cursor/index.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.tsx
  src/TextLines/utils.ts
Due: eslint --fix

update sample
  sample/src/App.tsx
Due: none

fix
  src/TextLines/index.tsx
  src/TextLines/utils.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
