Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

feat: limit content length to be parsed
  src/parser/content/parseContent.ts
Due: eslint --fix, prettier --write

limit all content parser
  src/parser/bracketLink/parseBracketLink.ts
  src/parser/content/parseContent.ts
  src/parser/decoration/parseBold.ts
  src/parser/decoration/parseBoldItalic.ts
  src/parser/decoration/parseDecoration.ts
  src/parser/decoration/parseItalic.ts
  src/parser/decoration/parseItalicBold.ts
  src/parser/displayFormula/parseDisplayFormula.ts
  src/parser/hashtag/parseHashtag.ts
  src/parser/inlineCode/parseInlineCode.ts
  src/parser/inlineFormula/parseInlineFormula.ts
  src/parser/normal/parseNormal.ts
  src/parser/taggedLink/parseTaggedLink.ts
  src/parser/url/parseUrl.ts
Due: eslint --fix, prettier --write

feat: limit content length to be parsed (#419)
  src/parser/bracketLink/parseBracketLink.ts
  src/parser/content/parseContent.ts
  src/parser/decoration/parseBold.ts
  src/parser/decoration/parseBoldItalic.ts
  src/parser/decoration/parseDecoration.ts
  src/parser/decoration/parseItalic.ts
  src/parser/decoration/parseItalicBold.ts
  src/parser/displayFormula/parseDisplayFormula.ts
  src/parser/hashtag/parseHashtag.ts
  src/parser/inlineCode/parseInlineCode.ts
  src/parser/inlineFormula/parseInlineFormula.ts
  src/parser/normal/parseNormal.ts
  src/parser/taggedLink/parseTaggedLink.ts
  src/parser/url/parseUrl.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  69970bdc6e8fb01b51dc1587badd9a8ed2d89563
Due: none

fix: remove scope from build rule of releaserc
  .releaserc
Due: none

fix: remove scope from build rule of releaserc (#422)
  .releaserc
Due: none

Notes added by 'git notes add'
  146217d091964f2e3cebce401745a531f5a84f3f
Due: none

fix: fix backtracking problem of regex
  src/parser/decoration/parseDecoration.ts
Due: eslint --fix, prettier --write

.
  src/parser/decoration/parseDecoration.ts
Due: eslint --fix, prettier --write

fix: fix backtracking problem of regex (#423)
  src/parser/decoration/parseDecoration.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  16f3b021436100c3a46a4fb9e2408c02a8c808a4
Due: none

.
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  2c707356142f667c3807f94346d59e6195ea2f57
Due: none

Notes added by 'git notes add'
  aab16406527e7df202b1a65d7a73e5f99fe7de09
Due: none

Notes added by 'git notes add'
  f793ed84a326b208cf23e9ba5f9eb117348939b0
Due: none

Notes added by 'git notes add'
  995414c7d9c3301269ca7ce3df0b6ed7e3cb3b94
Due: none

impl heading node
  src/parser/decoration/parseHeading.ts
  src/parser/heading/headingNode.ts
  src/parser/heading/parseBracketHeading.ts
  src/parser/heading/parseMarkdownHeading.ts
  src/parser/line/parseLine.ts
  src/parser/line/pureLineNode.ts
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

rwfactor: introduce HeadingNode
  src/components/molecules/text/Heading/index.tsx
  src/components/molecules/text/Text/TextNode.tsx
  src/components/organisms/EditorSyntaxMenu/callbacks/section.ts
  src/components/organisms/EditorSyntaxMenu/switches/section.ts
  src/parser/heading/headingNoode.ts
  src/parser/heading/parseBracketHeading.ts
  src/parser/heading/parseMarkdownHeading.ts
  src/parser/line/parseLine.ts
  src/parser/line/pureLineNode.ts
  tests/menuSection.bracket.test.ts
  tests/viewerText.bracket.test.ts
  tests/viewerText.markdown.test.ts
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

fix blockNodeToString
  src/parser/blockCode/blockCodeNode.ts
  src/parser/blockFormula/blockFormulaNode.ts
Due: eslint --fix, prettier --write

refactor: introduce HeadingNode (#429)
  src/components/molecules/text/Heading/index.tsx
  src/components/molecules/text/Text/TextNode.tsx
  src/components/organisms/EditorSyntaxMenu/callbacks/section.ts
  src/components/organisms/EditorSyntaxMenu/switches/section.ts
  src/parser/blockCode/blockCodeNode.ts
  src/parser/blockFormula/blockFormulaNode.ts
  src/parser/heading/headingNoode.ts
  src/parser/heading/parseBracketHeading.ts
  src/parser/heading/parseMarkdownHeading.ts
  src/parser/line/parseLine.ts
  src/parser/line/pureLineNode.ts
  tests/menuSection.bracket.test.ts
  tests/viewerText.bracket.test.ts
  tests/viewerText.markdown.test.ts
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  649bce1d910b2ecc5e6b0f3287e5f99b5522629e
Due: none

Notes added by 'git notes add'
  8306e74762b82167c08a0694deeaddb52ddefa06
Due: none

Notes added by 'git notes add'
  36f549c135e0edc95a477ded046b347aac34a24f
Due: none

feat: make paerser fuctions partly public
  src/index.ts
  src/parser/blockCode/blockCodeNode.ts
  src/parser/blockFormula/blockFormulaNode.ts
  src/parser/heading/headingNoode.ts
  src/parser/index.ts
  unittests/headingContent.test.ts
  unittests/headingContent.testcase.ts
  unittests/parseText.test.ts
  unittests/parser.test.ts
  unittests/parser.testcase.ts
Due: eslint --fix, prettier --write

fix import order
  src/index.ts
Due: eslint --fix, prettier --write

feat: make parser functions partly public (#432)
  src/index.ts
  src/parser/blockCode/blockCodeNode.ts
  src/parser/blockFormula/blockFormulaNode.ts
  src/parser/heading/headingNoode.ts
  src/parser/index.ts
  unittests/headingContent.test.ts
  unittests/headingContent.testcase.ts
  unittests/parseText.test.ts
  unittests/parser.test.ts
  unittests/parser.testcase.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8610ab7247074801ee6b170f0223d2785256c8ed
Due: none

build: fix vite config
  viteconfig.lib.mts
Due: none

Path conditions:
  eslint --fix: any of: ./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}
  sort-package-json: any of: ./**/package.json
