Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,tests,sample}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,ts,tsx,yaml,yml}": ["prettier --write", "git add"]
}

v0.20.0
  package.json
Due: prettier --write

fix: flatten classes
  sample/src/style.scss
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/style.scss
  src/TextLines/constants.ts
Due: eslint --fix, prettier --write

.
  README.md
  sample/src/App.tsx
  sample/src/style.scss
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/style.scss
  src/Editor/types.ts
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.scss
  src/TextLines/types.ts
Due: eslint --fix, prettier --write

fix: enable to set className (#181)
  README.md
  sample/src/App.tsx
  sample/src/style.scss
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/style.scss
  src/Editor/types.ts
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.scss
  src/TextLines/types.ts
Due: eslint --fix, prettier --write

v0.21.0
  package.json
Due: prettier --write

refactor: remove sass
  .gitignore
  package.json
  sample/src/style.css
  src/Cursor/style.css
  src/Editor/style.css
  src/Selection/style.css
  src/TextLines/style.css
  yarn.lock
Due: prettier --write

refactor: remove sass (#182)
  .gitignore
  package.json
  sample/src/style.css
  src/Cursor/style.css
  src/Editor/style.css
  src/Selection/style.css
  src/TextLines/style.css
  yarn.lock
Due: prettier --write

chore: update dependencies
  .node-version
  package.json
  yarn.lock
Due: prettier --write

.
  .github/workflows/run-test.yml
Due: prettier --write

chore: update non-major qdependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update non-major dependencies (#184)
  package.json
  yarn.lock
Due: prettier --write

.
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

.
  .gitignore
  .yarnrc.yml
  yarn.lock
Due: prettier --write

.
  .gitignore
Due: none

.
  .yarnrc.yml
Due: prettier --write

.
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: prettier --write

.
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade yarn to v3 (#185)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: update eslintignore
  .eslintignore
Due: none

chore: update prettierignore
  .prettierignore
Due: none

.
  sample/src/App.tsx
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/types.ts
  test-fixtures/TextLines/parseBracketText.json
  test-fixtures/TextLines/parseCommonText.json
  test-fixtures/TextLines/parseMarkdownText.json
  test-fixtures/TextLines/parseText.json
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write

.
  tests/TextLines/parseText.test.ts
  tests/utils/fixtureTest.ts
Due: eslint --fix, prettier --write

.
  test-fixtures/Editor/keyboardBracket.json
  test-fixtures/Editor/keyboardCommon.json
  test-fixtures/Editor/keyboardMarkdown.json
  tests/Editor/keyboard.test.tsx
  tests/Editor/keyboardOperation.test.tsx
  tests/utils/fixtureTest.ts
Due: eslint --fix, prettier --write

.
  tests/Editor/keyboard.test.tsx
Due: eslint --fix, prettier --write

.
  tests/Editor/keyboard.test.tsx
  tests/TextLines/parseText.test.ts
  tests/utils/fixtureTest.ts
Due: eslint --fix, prettier --write

.
  test-fixtures/Editor/keyboardBracket.json
  test-fixtures/Editor/keyboardMarkdown.json
Due: prettier --write

.
  test-fixtures/Editor/keyboardCommon.json
Due: prettier --write

.
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
Due: eslint --fix, prettier --write

.
  src/Editor/index.tsx
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/style.css
Due: eslint --fix, prettier --write

.
  src/Editor/callbacks/index.ts
  test-fixtures/Editor/keyboardCommon.json
Due: eslint --fix, prettier --write

.
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/index.tsx
  test-fixtures/Editor/keyboardMarkdown.json
Due: eslint --fix, prettier --write

.
  test-fixtures/Editor/keyboardMarkdown.json
Due: prettier --write

fix: parser and keyboard operations (#186)
  sample/src/App.tsx
  src/Editor/callbacks/index.ts
  src/Editor/index.tsx
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/types.ts
  src/TextLines/style.css
  test-fixtures/Editor/keyboardBracket.json
  test-fixtures/Editor/keyboardCommon.json
  test-fixtures/Editor/keyboardMarkdown.json
  test-fixtures/Editor/keyboardOperation.json
  test-fixtures/TextLines/parseBracketText.json
  test-fixtures/TextLines/parseCommonText.json
  test-fixtures/TextLines/parseMarkdownText.json
  test-fixtures/TextLines/parseText.json
  tests/Editor/keyboard.test.tsx
  tests/Editor/keyboardOperation.test.tsx
  tests/TextLines/parseText.test.ts
  tests/utils/fixtureTest.ts
Due: eslint --fix, prettier --write

.
  tests/Editor/keyboard.test.tsx
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write
