Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update sample
  sample/src/App.tsx
  src/TextLines/index.tsx
Due: eslint --fix

refine sample
  sample/src/App.tsx
Due: none

fix
  sample/src/App.tsx
Due: none

feat: support undo and redo commands (#28)
  sample/src/App.tsx
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix

v0.4.0
  package.json
Due: prettier --write

docs: update sample
  sample/src/App.tsx
Due: none

docs: update sample (#29)
  sample/src/App.tsx
Due: none

ads empty files
  src/Cursor/types.ts
  src/Selection/types.ts
  src/Suggestion/constants.ts
  src/Suggestion/index.tsx
  src/Suggestion/types.ts
  src/Suggestion/utils.ts
  src/TextLines/types.ts
Due: eslint --fix

refactor
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Cursor/utils.ts
  src/Suggestion/index.tsx
  src/Suggestion/types.ts
Due: eslint --fix

fix
  src/Cursor/utils.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/types.ts
  src/Suggestion/constants.ts
  src/Suggestion/index.tsx
  src/Suggestion/types.ts
  src/Suggestion/utils.ts
Due: eslint --fix

refine interface
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

fix
  src/Editor/types.ts
  src/index.tsx
Due: eslint --fix

fix
  src/Cursor/types.ts
  src/Editor/index.tsx
Due: eslint --fix

fix
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/index.tsx
Due: eslint --fix

fix sample
  sample/src/App.tsx
Due: none

tmp
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

tmp
  sample/src/App.tsx
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

done
  sample/src/App.tsx
  src/Editor/utils.ts
Due: eslint --fix

fix
  src/Editor/utils.ts
Due: eslint --fix

feat: support input suggestion for links (#31)
  sample/src/App.tsx
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

fix: fix sample
  sample/src/App.tsx
  src/Editor/utils.ts
Due: eslint --fix

fix: fix sample (#33)
  sample/src/App.tsx
  src/Editor/utils.ts
Due: eslint --fix

v0.5.0
  package.json
Due: prettier --write

feat: initial suggestion index
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

feat: initial suggestion index (#36)
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

fix: change suggestion color
  src/style.css
Due: prettier --write

fix: change suggestion color (#37)
  src/style.css
Due: prettier --write

v0.5.1
  package.json
Due: prettier --write

fix: fix suggestion list scroll
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

fix: fix suggestion list scroll (#38)
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/style.css
Due: eslint --fix, prettier --write

v0.5.2
  package.json
Due: prettier --write

docs: update README
  README.md
  sample/src/App.tsx
  src/Editor/types.ts
Due: eslint --fix, prettier --write

fix
  README.md
Due: prettier --write

revert
  README.md
Due: prettier --write

docs: update README (#39)
  README.md
  sample/src/App.tsx
  src/Editor/types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
