Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

done
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

feat: support more shortcut commands (#80)
  package.json
  src/Editor/types.ts
  src/Editor/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

v0.10.0
  package.json
Due: prettier --write

use single quote
  .eslintrc.json
  .prettierrc.json
  sample/src/App.tsx
  sample/src/index.tsx
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/KaTeX/types.ts
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/Selection/types.ts
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/common.ts
  src/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

use single quote
  README.md
Due: prettier --write

implement caller
  src/Editor/utils.ts
Due: eslint --fix

support word selection
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/Selection/utils.ts
  src/TextLines/constants.ts
Due: eslint --fix

done
  src/Editor/utils.ts
Due: eslint --fix

feat: support moveWordTop/moveWordBottom (#82)
  .eslintrc.json
  .prettierrc.json
  README.md
  sample/src/App.tsx
  sample/src/index.tsx
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/KaTeX/types.ts
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/Selection/types.ts
  src/Selection/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/common.ts
  src/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

v0.11.0
  package.json
Due: prettier --write

chore: add comments
  src/Editor/utils.ts
Due: eslint --fix

feat: support multiple lines code-string
  src/Cursor/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

refine sample
  sample/src/App.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

use single quote
  sample/src/App.tsx
Due: none

fix
  src/Editor/utils.ts
Due: eslint --fix

feat: support multiple lines code-string (#83)
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

v0.12.0
  package.json
Due: prettier --write

update README.md
  README.md
Due: prettier --write

docs: update README.md (#84)
  README.md
Due: prettier --write

v0.12.1
  package.json
Due: prettier --write

fix: fix wrong behavior when syntax is disabled
  README.md
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

refine sample
  sample/src/App.tsx
Due: none

fix: fix wrong behavior when disable syntax (#85)
  README.md
  sample/src/App.tsx
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

v0.12.2
  package.json
Due: prettier --write

install testing framework
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

write test
  test-fixtures/textParser.json
  tests/textParser/index.test.ts
  tests/textParser/types.ts
  tests/textParser/utils.ts
Due: prettier --write

test: add simplest parser test (#86)
  package.json
  test-fixtures/textParser.json
  tests/textParser/index.test.ts
  tests/textParser/types.ts
  tests/textParser/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

test(ci): employ github actions
  .github/workflows/run-test.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

fix
  .github/workflows/run-test.yml
Due: prettier --write

test(ci): employ github actions (#88)
  .github/workflows/run-test.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

move files
  test-fixtures/TextLines/parser.json
  tests/TextLines/parser/index.test.ts
  tests/TextLines/parser/types.ts
  tests/TextLines/parser/utils.ts
Due: prettier --write

move file
  test-fixtures/TextLines/parseText.json
  tests/TextLines/parseText.test.ts
  tests/TextLines/parser/index.test.ts
  tests/TextLines/parser/types.ts
Due: prettier --write

impl cursor tests
  test-fixtures/Cursor/cursorCoordinateToTextIndex.json
  test-fixtures/Cursor/moveCursor.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Cursor/moveCursor.test.ts
Due: prettier --write

implement unittest collection
  src/Editor/utils.ts
  src/Selection/utils.ts
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Cursor/moveCursor.test.ts
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getSelectedText.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
  tests/unittest/index.ts
  tests/unittest/types.ts
Due: eslint --fix

add fixtures
  test-fixtures/Cursor/cursorCoordinateToTextIndex.json
  test-fixtures/Selection/getLineSelection.json
  test-fixtures/Selection/getSelectedText.json
  test-fixtures/Selection/getWordSelection.json
  test-fixtures/TextLines/getDecorationStyle.json
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getSelectedText.test.ts
  tests/TextLines/getDecorationStyle.test.ts
Due: prettier --write

fix
  tests/unittest/index.ts
Due: none

test(ci): employ github actions (#88)
  .github/workflows/run-test.yml
  .lintstagedrc.json
  package.json
  test-fixtures/TextLines/parseText.json
  tests/TextLines/parseText.test.ts
  tests/textParser/index.test.ts
  tests/textParser/types.ts
Due: prettier --write

test: implement unit tests of utility functions (#92)
  src/Editor/utils.ts
  src/Selection/utils.ts
  test-fixtures/Cursor/cursorCoordinateToTextIndex.json
  test-fixtures/Cursor/moveCursor.json
  test-fixtures/Selection/getLineSelection.json
  test-fixtures/Selection/getSelectedText.json
  test-fixtures/Selection/getWordSelection.json
  test-fixtures/TextLines/getDecorationStyle.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Cursor/moveCursor.test.ts
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getSelectedText.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
  tests/unittest/index.ts
  tests/unittest/types.ts
Due: eslint --fix, prettier --write

refactor: use literal type istead of enum
  src/Cursor/types.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/types.ts
Due: eslint --fix

refactor: use literal type istead of enum (#94)
  src/Cursor/types.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/Selection/types.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
