Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

delete needless test fixtures
  test-fixtures/parser/parseBracketText.json
  test-fixtures/parser/parseCommonText.json
  test-fixtures/parser/parseMarkdownText.json
Due: prettier --write

goodbye testing-library
  package.json
  tests/Cursor/uiSuggestionList.test.tsx
  tests/Editor/clipboard.test.tsx
  tests/Editor/composition.test.tsx
  tests/Editor/keyboard.test.tsx
  tests/Editor/keyboardSelection.test.tsx
  tests/Editor/mouseSelection.test.tsx
  tests/Editor/positionToCursorCoordinate.test.tsx
  tests/SyntaxMenu/uiSyntaxMenu.test.tsx
  tests/Viewer/uiViewer.test.tsx
  tests/fixture.ts
  tests/jest.setup.ts
  tests/mocks.tsx
Due: eslint --fix, prettier --write

update yarn.lock
  yarn.lock
Due: none

goodbye testid
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/KaTeX/constants.ts
  src/KaTeX/index.tsx
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/SyntaxMenu/components/constants.ts
  src/SyntaxMenu/components/index.tsx
  src/SyntaxMenu/constants.ts
  src/SyntaxMenu/index.tsx
  src/TextLines/components/constants.ts
  src/TextLines/components/index.tsx
  src/common/utils.ts
Due: eslint --fix, prettier --write

introduce playwright
  .eslintignore
  package.json
  playwright.config.ts
  sample/src/App.tsx
  tests/index.test.ts
  tests/target/App.tsx
  tests/target/index.ejs
  tests/target/index.tsx
  tests/target/style.css
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

first test
  package.json
  tests/index.test.ts
  tests/target/App.tsx
  tests/target/index.ejs
  tests/target/style.css
Due: eslint --fix, prettier --write

first real test
  .github/workflows/run-test.yml
  .vscode/settings.json
  package.json
  playwright.config.ts
  tests/index.test.ts
  tests/keyboardCommon.testcase.ts
  tests/target/App.tsx
  tests/target/style.css
  tests/testUtils.ts
Due: eslint --fix, prettier --write

build before playwright
  package.json
  playwright.config.ts
Due: prettier --write

create project os-browser-syntax
  playwright.config.ts
  tests/index.test.ts
  tests/keyboardCommon.testcase.ts
  tests/target/App.tsx
  webpack.config.js
Due: eslint --fix, prettier --write

refine constants
  playwright.config.ts
Due: prettier --write

set testMatch
  playwright.config.ts
Due: prettier --write

delete constants
  tests/constants.ts
Due: eslint --fix, prettier --write

apply orthogonal array
  playwright.config.ts
Due: prettier --write

keyboardCommon
  test-fixtures/Editor/keyboardCommon.json
  tests/keyboardArrow.common.test.ts
  tests/keyboardBasic.common.test.ts
  tests/keyboardBrackets.common.test.ts
  tests/keyboardQuotation.common.test.ts
  tests/testUtils.ts
Due: eslint --fix, prettier --write

fix
  .github/workflows/run-test.yml
  yarn.lock
Due: prettier --write

test: use playwright in keyboard itemization test
  test-fixtures/Editor/keyboardBracket.json
  test-fixtures/Editor/keyboardMarkdown.json
  tests/keyboardItemization.bracket.test.ts
  tests/keyboardItemization.markdown.test.ts
Due: eslint --fix, prettier --write

test: use playwright in keyboard itemization test (#261)
  test-fixtures/Editor/keyboardBracket.json
  test-fixtures/Editor/keyboardMarkdown.json
  tests/keyboardItemization.bracket.test.ts
  tests/keyboardItemization.markdown.test.ts
Due: eslint --fix, prettier --write

est: use playwright in selection test
  playwright.config.ts
  tests/selectionMouse.common.test.ts
  tests/testUtils.ts
Due: eslint --fix, prettier --write

fix
  playwright.config.ts
  tests/selectionMouse.common.test.ts
  tests/testUtils.ts
Due: eslint --fix, prettier --write

done
  test-fixtures/Editor/keyboardSelection.json
  test-fixtures/Editor/mouseSelection.json
  tests/selectionKeyboard.common.test.ts
  tests/selectionKeyboard.macos.test.ts
  tests/selectionKeyboard.windows.test.ts
  tests/selectionMouse.common.test.ts
Due: eslint --fix, prettier --write

chore: update dependencies
  .eslintignore
  jest.config.js
  jest.setup.ts
  jest.styleMock.ts
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#263)
  .eslintignore
  jest.config.js
  jest.setup.ts
  jest.styleMock.ts
  package.json
  yarn.lock
Due: prettier --write

refactor sample
  sample/src/App.tsx
  sample/src/index.ejs
  sample/src/style.css
Due: eslint --fix, prettier --write

done
  sample/src/index.ejs
  src/Editor/index.tsx
  src/Editor/utils.ts
Due: eslint --fix, prettier --write

fix
  src/Editor/index.tsx
  src/Editor/utils.ts
Due: eslint --fix, prettier --write

fix: enable to edit text even after mouse up outside of editor (#264)
  sample/src/App.tsx
  sample/src/index.ejs
  sample/src/style.css
  src/Editor/index.tsx
  src/Editor/utils.ts
Due: eslint --fix, prettier --write

test: introduce playwright
  .eslintignore
  .github/workflows/run-test.yml
  .prettierignore
  .vscode/settings.json
  jest.config.js
  package.json
  playwright.config.ts
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/KaTeX/constants.ts
  src/KaTeX/index.tsx
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/SyntaxMenu/components/constants.ts
  src/SyntaxMenu/components/index.tsx
  src/SyntaxMenu/constants.ts
  src/SyntaxMenu/index.tsx
  src/TextLines/components/constants.ts
  src/TextLines/components/index.tsx
  src/common/utils.ts
  tests/Cursor/uiSuggestionList.test.tsx
  tests/Editor/clipboard.test.tsx
  tests/Editor/composition.test.tsx
  tests/Editor/keyboard.test.tsx
  tests/Editor/keyboardSelection.test.tsx
  tests/Editor/mouseSelection.test.tsx
  tests/Editor/positionToCursorCoordinate.test.tsx
  tests/SyntaxMenu/uiSyntaxMenu.test.tsx
  tests/Viewer/uiViewer.test.tsx
  tests/constants.ts
  tests/fixture.ts
  tests/mocks.tsx
  tests/target/App.tsx
  tests/target/index.ejs
  tests/target/index.tsx
  tests/target/style.css
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix
  jest.setup.ts
  package.json
  tests/shortcutCommand.macos.test.ts
  tests/target/App.tsx
  tests/testUtils.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

.
  tests/shortcutCommand.macos.test.ts
Due: eslint --fix, prettier --write

exp
  tests/shortcutCommand.macos.test.ts
  tests/target/App.tsx
Due: eslint --fix, prettier --write

install emotion
  package.json
  yarn.lock
Due: prettier --write

textlines atoms
  src/Editor/callbacks/utils.ts
  src/TextLines/components/constants.ts
  src/TextLines/components/index.tsx
  src/TextLines/components/style.css
  src/TextLines/components/types.ts
  src/TextLines/index.tsx
  src/TextLines/utils.ts
  src/components/atoms/TextLines/Char/index.tsx
  src/components/atoms/TextLines/CharGroup/index.tsx
  src/components/atoms/TextLines/EmbededLink/index.tsx
  src/components/atoms/TextLines/Header/index.tsx
  src/components/atoms/TextLines/ItemBullet/index.tsx
  src/components/atoms/TextLines/ItemBulletContent/index.tsx
  src/components/atoms/TextLines/Line/index.tsx
  src/components/atoms/TextLines/LineContent/index.tsx
  src/components/atoms/TextLines/LineGroup/index.tsx
  src/components/atoms/TextLines/LineGroupContent/index.tsx
  src/components/atoms/TextLines/LineGroupIndent/index.tsx
  src/components/atoms/TextLines/LineIndent/index.tsx
  tests/Editor/positionToCursorCoordinate.test.tsx
  tests/mocks.tsx
Due: eslint --fix, prettier --write

cursor atoms
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/style.css
  src/Cursor/types.ts
  src/Cursor/utils.ts
  src/components/atoms/Cursor/CursorBar/index.tsx
  src/components/atoms/Cursor/HiddenTextArea/index.tsx
  src/components/atoms/Cursor/SuggesionListBody/index.tsx
  src/components/atoms/Cursor/SuggesionListContainer/index.tsx
  src/components/atoms/Cursor/SuggesionListHeader/index.tsx
  src/components/atoms/Cursor/SuggesionListItem/index.tsx
  src/components/atoms/TextLines/EmbededLink/index.tsx
Due: eslint --fix, prettier --write

icons
  src/SyntaxMenu/icons.tsx
  src/icons/ArrowIcon.tsx
  src/icons/BoldIcon.tsx
  src/icons/BracketIcon.tsx
  src/icons/CodeIcon.tsx
  src/icons/FormulaIcon.tsx
  src/icons/HashtagIcon.tsx
  src/icons/ItalicIcon.tsx
  src/icons/Itemization.tsx
  src/icons/Quotation.tsx
  src/icons/Section.tsx
  src/icons/TaggedlinkIcon.tsx
  src/icons/UnderlineIcon.tsx
Due: eslint --fix, prettier --write

refine directory structure
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Cursor/utils.ts
  src/Editor/callbacks/utils.ts
  src/TextLines/index.tsx
  src/components/atoms/Char/index.tsx
  src/components/atoms/CharGroup/index.tsx
  src/components/atoms/CursorBar/index.tsx
  src/components/atoms/CursorTextArea/index.tsx
  src/components/atoms/EmbededLink/index.tsx
  src/components/atoms/Header/index.tsx
  src/components/atoms/ItemBullet/index.tsx
  src/components/atoms/ItemBulletContent/index.tsx
  src/components/atoms/Line/index.tsx
  src/components/atoms/LineContent/index.tsx
  src/components/atoms/LineGroup/index.tsx
  src/components/atoms/LineGroupContent/index.tsx
  src/components/atoms/LineGroupIndent/index.tsx
  src/components/atoms/LineIndent/index.tsx
  src/components/atoms/SuggesionList/index.tsx
  src/components/atoms/SuggesionListBody/index.tsx
  src/components/atoms/SuggesionListHeader/index.tsx
  src/components/atoms/SuggesionListItem/index.tsx
  tests/Editor/positionToCursorCoordinate.test.tsx
Due: eslint --fix, prettier --write

selection atoms
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/Selection/style.css
  src/Selection/types.ts
  src/Selection/utils.ts
  src/SyntaxMenu/components/index.tsx
  src/SyntaxMenu/index.tsx
  src/TextLines/utils.ts
  src/components/atoms/SelectionRect/index.tsx
  src/icons/ArrowIcon.tsx
Due: eslint --fix, prettier --write

rename
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/components/atoms/EmbededLink/index.tsx
Due: eslint --fix, prettier --write

data-clickable
  src/components/atoms/EmbededLink/index.tsx
Due: eslint --fix, prettier --write

syntaxmenu atoms
  src/Editor/index.tsx
  src/SyntaxMenu/components/constants.ts
  src/SyntaxMenu/components/index.tsx
  src/SyntaxMenu/components/style.css
  src/SyntaxMenu/components/types.ts
  src/SyntaxMenu/index.tsx
  src/SyntaxMenu/types.ts
  src/components/atoms/DropdownMenu/hooks.ts
  src/components/atoms/DropdownMenu/index.tsx
  src/components/atoms/DropdownMenuButton/index.tsx
  src/components/atoms/DropdownMenuList/index.tsx
  src/components/atoms/DropdownMenuListItem/index.tsx
  src/components/atoms/IconButtonMenu/index.tsx
  src/components/atoms/MenuList/index.tsx
  test-fixtures/SyntaxMenu/uiCodeMenuCommon.json
  test-fixtures/SyntaxMenu/uiFormulaMenuCommon.json
  test-fixtures/SyntaxMenu/uiItemizationMenuBracket.json
  test-fixtures/SyntaxMenu/uiItemizationMenuMarkdown.json
  test-fixtures/SyntaxMenu/uiLinkMenuCommon.json
  test-fixtures/SyntaxMenu/uiQuotationMenuCommon.json
  test-fixtures/SyntaxMenu/uiSectionMenuBracket.json
  test-fixtures/SyntaxMenu/uiSectionMenuMarkdown.json
  tests/SyntaxMenu/uiSyntaxMenu.test.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: ./{src,tests,sample}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,ts,tsx,yaml,yml}
