Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix
  docs/api/EditorRoot.stories.mdx
  docs/api/ViewerRoot.stories.mdx
Due: none

create static files dir
  .storybook/main.js
  .storybook/theme.js
  package.json
Due: prettier --write

add favicon.ico
  .eslintignore
  .gitignore
  .prettierignore
  .storybook/manager-head.html
  .storybook/preview-head.html
  docs/public/favicon.ico
  docs/public/icon.png
Due: prettier --write

update api pages
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldHeader.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldHeader.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
Due: none

fix
  docs/api/Overview.stories.mdx
Due: none

refine styling
  src/components/atoms/cursor/CursorTextArea/index.tsx
  src/components/atoms/menu/DropdownMenuList/index.tsx
  src/components/atoms/root/Root/index.tsx
  src/components/atoms/root/TextFieldHeader/index.tsx
  src/components/atoms/suggestion/SuggesionList/index.tsx
  src/components/molecules/text/Decoration/index.tsx
Due: eslint --fix, prettier --write

font config to constants
  src/common/constants.ts
  src/components/atoms/menu/DropdownMenuList/index.tsx
  src/components/atoms/root/Root/index.tsx
  src/components/atoms/root/TextFieldHeader/index.tsx
  src/components/atoms/suggestion/SuggesionList/index.tsx
  src/components/molecules/selection/Selection/utils.ts
  src/components/molecules/text/Decoration/index.tsx
  src/components/organisms/EditorTextFieldBody/shortcuts/callbacks.ts
Due: eslint --fix, prettier --write

update dropdown
  docs/ts/ApiExplanation.tsx
  src/components/atoms/menu/DropdownMenu/hooks.ts
  src/components/atoms/menu/DropdownMenuList/index.tsx
  src/components/atoms/root/Root/index.tsx
  src/components/molecules/menu/CodeMenu/index.tsx
  src/components/molecules/menu/FormulaMenu/index.tsx
  src/components/molecules/menu/ItemizationMenu/index.tsx
  src/components/molecules/menu/QuotationMenu/index.tsx
  src/components/molecules/menu/SectionMenu/index.tsx
  src/components/molecules/menu/TaggedLinkMenu/index.tsx
Due: eslint --fix, prettier --write

feat: refine stylings for cross-browser support (#286)
  docs/ts/ApiExplanation.tsx
  src/common/constants.ts
  src/components/atoms/cursor/CursorTextArea/index.tsx
  src/components/atoms/menu/DropdownMenu/hooks.ts
  src/components/atoms/menu/DropdownMenuList/index.tsx
  src/components/atoms/root/Root/index.tsx
  src/components/atoms/root/TextFieldHeader/index.tsx
  src/components/atoms/suggestion/SuggesionList/index.tsx
  src/components/molecules/menu/CodeMenu/index.tsx
  src/components/molecules/menu/FormulaMenu/index.tsx
  src/components/molecules/menu/ItemizationMenu/index.tsx
  src/components/molecules/menu/QuotationMenu/index.tsx
  src/components/molecules/menu/SectionMenu/index.tsx
  src/components/molecules/menu/TaggedLinkMenu/index.tsx
  src/components/molecules/selection/Selection/utils.ts
  src/components/molecules/text/Decoration/index.tsx
  src/components/organisms/EditorTextFieldBody/shortcuts/callbacks.ts
Due: eslint --fix, prettier --write

header can be fixed content
  docs/api/EditorHeader.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/Viewer.stories.mdx
  docs/ts/ApiExplanation.tsx
  docs/ts/DemoEditor.tsx
  src/components/atoms/root/Header/index.tsx
  src/components/organisms/EditorHeader/index.tsx
  src/components/organisms/EditorTextFieldBody/common/cursor.ts
  src/components/organisms/EditorTextFieldHeader/index.tsx
  src/components/organisms/ViewerHeader/index.tsx
  src/components/organisms/ViewerTextFieldHeader/index.tsx
  src/index.tsx
  target/App.tsx
Due: eslint --fix, prettier --write

delete
  src/components/atoms/root/TextFieldHeader/index.tsx
Due: eslint --fix, prettier --write

implement divider
  docs/api/Divider.stories.mdx
  docs/api/Overview.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/ts/DemoEditor.tsx
  src/components/atoms/root/Divider/index.tsx
  src/components/organisms/Divider/index.tsx
  src/index.tsx
  target/App.tsx
Due: eslint --fix, prettier --write

feat: implement header as a fixed content and divider (#287)
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/Viewer.stories.mdx
  docs/ts/ApiExplanation.tsx
  docs/ts/DemoEditor.tsx
  src/components/atoms/root/Divider/index.tsx
  src/components/atoms/root/Header/index.tsx
  src/components/atoms/root/TextFieldHeader/index.tsx
  src/components/organisms/Divider/index.tsx
  src/components/organisms/EditorHeader/index.tsx
  src/components/organisms/EditorTextFieldBody/common/cursor.ts
  src/components/organisms/EditorTextFieldHeader/index.tsx
  src/components/organisms/ViewerHeader/index.tsx
  src/components/organisms/ViewerTextFieldHeader/index.tsx
  src/index.tsx
  target/App.tsx
Due: eslint --fix, prettier --write

fix docs
  docs/get-started/Introduction.stories.mdx
Due: none

v1.0.0🎉
  package.json
Due: prettier --write

add deploy-docs command
  package.json
Due: prettier --write

chore: update dependencies
  .github/workflows/test.yml
  .node-version
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

downgrade mdx-js/react
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#290)
  .github/workflows/test.yml
  .node-version
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

docs: fix configuration of storybook document
  .storybook/main.js
  .storybook/manager-head.html
Due: prettier --write

fix build config
  .storybook/main.js
  viteconfig.tests.ts
Due: prettier --write

.
  .storybook/main.js
Due: prettier --write

docs: fix configurations of storybook document (#292)
  .storybook/main.js
  .storybook/manager-head.html
  viteconfig.tests.ts
Due: prettier --write

docs: show sample codes in the API overview page
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/Install.stories.mdx
Due: none

docs: show sample codes in the API overview page (#293)
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/Install.stories.mdx
Due: none

docs: fix storybook documents
  docs/get-started/Editor.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
Due: none

add important message
  docs/get-started/FormattingSyntax.stories.mdx
Due: none

docs: fix storybook documents (#294)
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
Due: none

chore: update dependencies
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

update yarn.lock
  yarn.lock
Due: none

chore: update dependencies (#295)
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies
  .eslintrc.json
  .storybook/main.js
  .vscode/settings.json
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Viewer.stories.mdx
  docs/ts/SyntaxViewer.tsx
  package.json
  yarn.lock
Due: prettier --write

migrate storybook to v7
  .babelrc.json
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.js
  .storybook/preview.ts
  .storybook/theme.ts
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  package.json
  yarn.lock
Due: prettier --write

fix webServer.command
  playwright.config.ts
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,tests,sample}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,ts,tsx,yaml,yml}
