Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

tmp
  .vscode/settings.json
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

tmp
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Cursor/utils.ts
  src/TextLines/utils.ts
Due: eslint --fix

done
  src/Editor/utils.ts
Due: eslint --fix

fix
  src/Cursor/types.ts
Due: eslint --fix

done
  src/Cursor/index.tsx
  src/Selection/index.tsx
Due: eslint --fix

revert
  src/Cursor/utils.ts
Due: eslint --fix

refactor: use function instead of class (#68)
  .vscode/settings.json
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#69)
  package.json
  yarn.lock
Due: prettier --write

v0.9.1
  package.json
Due: prettier --write

fix: scroll bug
  src/Cursor/utils.ts
Due: eslint --fix

fix: scroll bug (#70)
  src/Cursor/utils.ts
Due: eslint --fix

v0.9.2
  package.json
Due: prettier --write

feat: add overriddenStyleOnHover
  sample/src/App.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/index.tsx
Due: eslint --fix

update readme
  README.md
Due: prettier --write

feat: add overriddenStyleOnHover to link props (#71)
  README.md
  sample/src/App.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

v0.9.3
  package.json
Due: prettier --write

fix: fix bug
  src/TextLines/index.tsx
Due: eslint --fix

fix event
  src/Cursor/index.tsx
  src/Editor/index.tsx
Due: eslint --fix

fix: fix bug (#72)
  src/Cursor/index.tsx
  src/Editor/index.tsx
  src/TextLines/index.tsx
Due: eslint --fix

v0.9.4
  package.json
Due: prettier --write

fix: cursor bug
  src/Cursor/index.tsx
  src/Cursor/utils.ts
Due: eslint --fix

add comment
  src/Cursor/index.tsx
Due: eslint --fix

fix: fix cursor bug (#73)
  src/Cursor/index.tsx
  src/Cursor/utils.ts
Due: eslint --fix

v0.9.5
  package.json
Due: prettier --write

fix: fix undo/redo bug
  src/Editor/utils.ts
Due: eslint --fix

fix: fix undo/redo bug (#74)
  src/Editor/utils.ts
Due: eslint --fix

v0.9.6
  package.json
Due: prettier --write

fix: disable href while the cursor is on the line
  README.md
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix, prettier --write

fix
  README.md
  sample/src/App.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix, prettier --write

fix: disable href while the cursor is on the line (#76)
  README.md
  sample/src/App.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix, prettier --write

fix: margin bottom of editor
  sample/src/App.tsx
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

fix: margin bottom of editor (#77)
  sample/src/App.tsx
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

v0.9.7
  package.json
Due: prettier --write

fix: blur bug
  src/Editor/index.tsx
Due: eslint --fix

add comment
  src/Editor/index.tsx
Due: eslint --fix

fix: blur bug (#78)
  src/Editor/index.tsx
Due: eslint --fix

v0.9.8
  package.json
Due: prettier --write

update deps
  package.json
  yarn.lock
Due: prettier --write

refactor
  src/Editor/utils.ts
Due: eslint --fix
