Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,tests,sample}/**/*.{ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

dev
  babel.config.json
  package.json
  sample/src/index.html
  webpack.config.dev.js
  yarn.lock
Due: prettier --write

prod
  package.json
  webpack.config.common.js
  webpack.config.dev.js
  webpack.config.prod.js
Due: prettier --write

build: employ webpack instead of parcel (#126)
  .eslintignore
  .eslintrc.json
  .vscode/settings.json
  babel.config.json
  package.json
  sample/src/App.tsx
  sample/src/index.html
  tsconfig.json
  webpack.config.common.js
  webpack.config.dev.js
  webpack.config.prod.js
  yarn.lock
Due: eslint --fix, prettier --write

refactor: use CSS Modules
  @types/styles.d.ts
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/style.css
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/style.css
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/KaTeX/style.css
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/Selection/style.css
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/utils.ts
  src/style.css
  src/utils.ts
  tsconfig.json
  webpack.config.common.js
Due: eslint --fix, prettier --write

fix katex
  src/KaTeX/index.tsx
  src/KaTeX/katex.style.css
  src/TextLines/constants.ts
  webpack.config.common.js
Due: eslint --fix, prettier --write

fix
  webpack.config.common.js
Due: prettier --write

refactor: use CSS Modules (#127)
  @types/styles.d.ts
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/style.css
  src/Cursor/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/style.css
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/KaTeX/katex.style.css
  src/Selection/constants.ts
  src/Selection/index.tsx
  src/Selection/style.css
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/utils.ts
  src/style.css
  src/utils.ts
  tsconfig.json
  webpack.config.common.js
Due: eslint --fix, prettier --write

fix: configs
  .eslintignore
  .eslintrc.json
  jest.config.js
  package.json
  tsconfig.eslint.json
  tsconfig.json
  webpack.config.common.js
  yarn.lock
Due: prettier --write

pass tests
  jest.config.js
  tests/stylemock.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: fix build script (#128)
  .eslintignore
  .eslintrc.json
  jest.config.js
  package.json
  tests/stylemock.ts
  tsconfig.eslint.json
  tsconfig.json
  webpack.config.common.js
  yarn.lock
Due: eslint --fix, prettier --write

v0.13.5
  package.json
Due: prettier --write

fix: activate css modules in third-party library
  webpack.config.common.js
Due: prettier --write

fix: activate css modules in third-party library (#129)
  webpack.config.common.js
Due: prettier --write

build: webpack config
  webpack.config.common.js
Due: prettier --write

build: webpack config (#130)
  webpack.config.common.js
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#131)
  package.json
  yarn.lock
Due: prettier --write

update deps
  package.json
  yarn.lock
Due: prettier --write

fix: set font of textarea inherit
  src/Cursor/style.css
Due: prettier --write

fix: set font of textarea inherit (#132)
  package.json
  src/Cursor/style.css
  yarn.lock
Due: prettier --write

v0.13.6
  package.json
Due: prettier --write

fix: update webpack config
  webpack.config.common.js
Due: prettier --write

fix: update webpack config (#133)
  webpack.config.common.js
Due: prettier --write

fix(test): fix test
  test-fixtures/Editor/keyboardScenario.json
  tests/Editor/components/KeyboardTest.tsx
  tests/Editor/keyboardOperation.test.tsx
  tests/Editor/keyboardScenario.test.tsx
  tests/Editor/shortcutCommand.test.tsx
Due: eslint --fix, prettier --write

fix
  package.json
Due: prettier --write

fix(test): fix test (#134)
  package.json
  test-fixtures/Editor/keyboardScenario.json
  tests/Editor/components/KeyboardTest.tsx
  tests/Editor/keyboardOperation.test.tsx
  tests/Editor/keyboardScenario.test.tsx
  tests/Editor/shortcutCommand.test.tsx
Due: eslint --fix, prettier --write

chore: update dependencies
  .node-version
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#136)
  .node-version
  package.json
  yarn.lock
Due: prettier --write

v0.13.7
  package.json
Due: prettier --write

chore: update deps
  .node-version
  package.json
  yarn.lock
Due: prettier --write

chore: update deps (#138)
  .node-version
  package.json
  yarn.lock
Due: prettier --write

feat: support delete button for windows
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

feat: support delete button for windows (#139)
  src/Editor/types.ts
  src/Editor/utils.ts
Due: eslint --fix

refactor: refine structure
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/shortcutCommands.ts
  src/Editor/callbacks/shortcutHandlers.ts
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/TextLines/parser/index.ts
  src/TextLines/parser/nodes.ts
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/parseText.ts
  src/TextLines/parser/types.ts
  src/TextLines/parser/utils.ts
  tests/Editor/components/KeyboardTest.tsx
Due: eslint --fix

refactor: refine structure (#140)
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/shortcutCommands.ts
  src/Editor/callbacks/shortcutHandlers.ts
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/TextLines/parser/index.ts
  src/TextLines/parser/nodes.ts
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/parseText.ts
  src/TextLines/parser/types.ts
  src/TextLines/parser/utils.ts
  tests/Editor/components/KeyboardTest.tsx
Due: eslint --fix

refactor: move utils.ts
  src/Cursor/utils.ts
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/shortcutCommands.ts
  src/Editor/utils.ts
  src/TextLines/utils.ts
  src/common/utils.ts
Due: eslint --fix

update ci
  .github/workflows/run-test.yml
Due: prettier --write

refactor: move utils.ts (#141)
  .github/workflows/run-test.yml
  src/Cursor/utils.ts
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/shortcutCommands.ts
  src/Editor/utils.ts
  src/TextLines/utils.ts
  src/common/utils.ts
Due: eslint --fix, prettier --write

v0.14.0
  package.json
Due: prettier --write

fix: fix bugs
  src/Editor/callbacks/index.ts
Due: eslint --fix
