Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,tests,sample}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,ts,tsx,yaml,yml}": ["prettier --write", "git add"]
}

fix: margin bottom
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/style.css
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/types.ts
Due: eslint --fix, prettier --write

fix: margin bottom (#156)
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/style.css
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/types.ts
Due: eslint --fix, prettier --write

v0.16.1
  package.json
Due: prettier --write

feat: convert space in hashtag name to underscore
  README.md
  src/Editor/callbacks/utils.ts
  src/TextLines/parser/utils.ts
  webpack.config.dev.js
Due: eslint --fix, prettier --write

feat: convert space in hashtag name to underscore (#158)
  README.md
  src/Editor/callbacks/utils.ts
  src/TextLines/parser/utils.ts
  webpack.config.dev.js
Due: eslint --fix, prettier --write

build: make latex peer dependency
  README.md
  package.json
Due: prettier --write

fix
  package.json
Due: prettier --write

build: make latex peer dependency (#159)
  README.md
  package.json
Due: prettier --write

v0.17.0
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix
  jest.config.js
Due: prettier --write

chore: update dependencies (#160)
  jest.config.js
  package.json
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

v0.17.1
  package.json
Due: prettier --write

build: improve katex build
  README.md
  package.json
  sample/src/index.ejs
  sample/src/index.html
  src/KaTeX/index.tsx
  webpack.config.common.js
  webpack.config.dev.js
  webpack.config.prod.js
  yarn.lock
Due: eslint --fix, prettier --write

build: improve katex build (#162)
  README.md
  package.json
  sample/src/index.ejs
  sample/src/index.html
  src/KaTeX/index.tsx
  webpack.config.common.js
  webpack.config.dev.js
  webpack.config.prod.js
  yarn.lock
Due: eslint --fix, prettier --write

v0.17.2
  package.json
Due: prettier --write

fix: fix sample
  sample/src/index.ejs
Due: none

fix: fix sample (#163)
  sample/src/index.ejs
Due: none

fix: make katex version variable
  sample/src/index.ejs
Due: none

fix: make katex version variable (#164)
  sample/src/index.ejs
Due: none

tmp
  README.md
  sample/src/App.tsx
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/style.css
  src/Cursor/types.ts
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/parseText.ts
  src/TextLines/parser/types.ts
  src/TextLines/types.ts
  src/index.tsx
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write

header
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/style.css
  src/Cursor/types.ts
  src/Editor/callbacks/utils.ts
  src/Editor/types.ts
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/types.ts
Due: eslint --fix, prettier --write

refactor
  src/Editor/callbacks/utils.ts
Due: eslint --fix, prettier --write

styling
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/style.css
Due: eslint --fix, prettier --write

fix
  src/Cursor/index.tsx
  src/Cursor/style.css
Due: eslint --fix, prettier --write

fix
  sample/src/App.tsx
  src/Cursor/style.css
  src/Editor/callbacks/utils.ts
Due: eslint --fix, prettier --write

fix
  sample/src/App.tsx
Due: eslint --fix, prettier --write

feat: implement suggestion in decoration (#165)
  README.md
  sample/src/App.tsx
  src/Cursor/constants.ts
  src/Cursor/index.tsx
  src/Cursor/style.css
  src/Cursor/types.ts
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/parseText.ts
  src/TextLines/parser/types.ts
  src/TextLines/types.ts
  src/index.tsx
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write

fix
  README.md
  src/Editor/callbacks/utils.ts
  src/TextLines/constants.ts
  src/TextLines/style.css
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

fix: fix word wrap setting (#166)
  README.md
  src/Editor/callbacks/utils.ts
  src/TextLines/constants.ts
  src/TextLines/style.css
  src/TextLines/utils.ts
Due: eslint --fix, prettier --write

fix: fix index calculation
  src/Editor/callbacks/utils.ts
Due: eslint --fix, prettier --write

fix: fix index calculation (#167)
  src/Editor/callbacks/utils.ts
Due: eslint --fix, prettier --write

v0.18.0
  package.json
Due: prettier --write

rename
  README.md
  sample/src/App.tsx
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/index.tsx
Due: eslint --fix, prettier --write

feat: smart suggestion
  sample/src/App.tsx
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
Due: eslint --fix, prettier --write

update
  README.md
Due: prettier --write

fix
  tests/Editor/components/KeyboardTest.tsx
Due: eslint --fix, prettier --write

feat: smart suggestion (#168)
  README.md
  sample/src/App.tsx
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/utils.ts
  src/Editor/constants.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/index.tsx
  tests/Editor/components/KeyboardTest.tsx
Due: eslint --fix, prettier --write

v0.19.0
  package.json
Due: prettier --write

refactor: refactor suggestion
  src/Editor/callbacks/utils.ts
  src/Editor/constants.ts
Due: eslint --fix, prettier --write
