Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

v1.2.0
  package.json
Due: prettier --write, sort-package-json

v1.2.0 🎉 (#329)
  docs/api/EditorRoot.mdx
  docs/api/ViewerRoot.mdx
  docs/ts/Api.tsx
  package.json
Due: eslint --fix, prettier --write, sort-package-json

update eslintrc
  .eslintrc.json
Due: prettier --write

prefer Record in docs
  docs/api/EditorRoot.mdx
  docs/api/ViewerRoot.mdx
Due: prettier --write

v1.2.1
  package.json
Due: prettier --write, sort-package-json

v1.2.1 (#332)
  package.json
Due: prettier --write, sort-package-json

chore: employ dependabot
  .github/dependabot.yml
Due: prettier --write

chore: employ dependabot (#338)
  .github/dependabot.yml
Due: prettier --write

chore: set versioning strategy of dependabot
  .github/dependabot.yml
Due: prettier --write

set schedule to friday
  .github/dependabot.yml
Due: prettier --write

chore: update dependabot.yml (#345)
  .github/dependabot.yml
Due: prettier --write

goodbye dependabot
  .github/dependabot.yml
  .vscode/settings.json
Due: prettier --write

chore: fix yarn classic version
  .node-version
  .tool-versions
Due: none

chore: fix yarn classic version (#357)
  .node-version
  .tool-versions
Due: none

update config
  .eslintrc.json
Due: prettier --write

remove redundant config
  .eslintrc.json
Due: prettier --write

typescript-eslint type-checked
  .eslintrc.json
  docs/ts/Api.tsx
  src/components/atoms/cursor/CursorTextArea/index.tsx
  src/components/atoms/menu/DropdownMenuButton/index.tsx
  src/components/atoms/text/EmbededLink/index.tsx
  src/components/organisms/EditorSyntaxMenu/hooks/taggedLink.ts
  src/components/organisms/EditorTextFieldBody/common/cursor.ts
  src/components/organisms/EditorTextFieldBody/common/suggestion.ts
  src/components/organisms/EditorTextFieldBody/shortcuts/callbacks.ts
  src/contexts/TextNodesContext.tsx
  target/index.tsx
Due: eslint --fix, prettier --write

typescript-eslint/strict
  .eslintrc.json
  docs/ts/Viewer.stories.tsx
  src/common/utils.ts
  src/components/atoms/menu/DropdownMenu/hooks.ts
  src/components/atoms/menu/DropdownMenuButton/index.tsx
  src/components/atoms/text/EmbededLink/hooks.ts
  src/components/atoms/text/EmbededLink/index.tsx
  src/components/molecules/selection/Selection/utils.ts
  src/components/molecules/text/Decoration/index.tsx
  src/components/molecules/text/Itemization/index.tsx
  src/components/molecules/text/NormalLine/index.tsx
  src/components/molecules/text/Quotation/index.tsx
  src/components/organisms/EditorTextFieldBody/common/cursor.ts
  src/components/organisms/EditorTextFieldBody/common/suggestion.ts
  src/components/organisms/EditorTextFieldBody/shortcuts/callbacks.ts
  target/App.tsx
  target/index.tsx
Due: eslint --fix, prettier --write

split eslint config for typescript
  .eslintrc.json
Due: prettier --write

update vite
  .pnp.cjs
  .yarn/cache/vite-npm-5.0.10-8371795915-5421e9c7f8.zip
  .yarn/cache/vite-npm-5.0.11-d5457a8b86-f1a8fea35e.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

add semantic release
  .github/workflows/release.yml
  .github/workflows/test.yml
  .releaserc
Due: prettier --write

add releasetest
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

remove release test
  .github/workflows/test.yml
Due: prettier --write

fix github actions workflows
  .github/workflows/test.yml
Due: prettier --write

fix github actions workflows (#360)
  .github/workflows/test.yml
Due: prettier --write

fix: update .releaserc
  .releaserc
Due: none

fix: update .releaserc (#361)
  .releaserc
Due: none

build: update node version
  .releaserc
  .tool-versions
Due: none

Path conditions:
  eslint --fix: any of: ./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}
  sort-package-json: any of: ./**/package.json
