Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

chore: update dependencies (#296)
  .babelrc.json
  .eslintrc.json
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.js
  .storybook/preview.ts
  .storybook/theme.ts
  .vscode/settings.json
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Viewer.stories.mdx
  docs/ts/SyntaxViewer.tsx
  package.json
  playwright.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

chore: update dependencies
  .node-version
  .storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  docs/get-started/Editor.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Viewer.stories.mdx
Due: prettier --write

.
  docs/get-started/FormattingSyntax.stories.mdx
Due: prettier --write

chore: update dependencies (#297)
  .node-version
  .storybook/main.ts
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

remove needless story
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
Due: prettier --write

remove babel
  .babelrc.json
  .storybook/preview.ts
  docs/get-started/Install.stories.mdx
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: refine story (#298)
  .babelrc.json
  .storybook/preview.ts
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Revert "chore: refine story (#298)"
  .babelrc.json
  .storybook/preview.ts
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Revert "chore: update dependencies (#297)"
  .node-version
  .storybook/main.ts
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: don't use storybook/vite-builder
  .node-version
  .storybook/preview.ts
  docs/api/Divider.stories.mdx
  docs/api/EditorHeader.stories.mdx
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerHeader.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: don't use storybook/builder-vite (#299)
  .babelrc.json
  .storybook/main.ts
  docs/get-started/Editor.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

refactor: rewrite deprecated usage of Storybook
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  docs/api/Divider.mdx
  docs/api/EditorHeader..mdx
  docs/api/EditorRoot.mdx
  docs/api/EditorSyntaxMenu.mdx
  docs/api/EditorTextFieldBody.mdx
  docs/api/EditorTextFieldRoot.mdx
  docs/api/Overview.mdx
  docs/api/ViewerHeader.mdx
  docs/api/ViewerRoot.mdx
  docs/api/ViewerTextFieldBody.mdx
  docs/api/ViewerTextFieldRoot.mdx
  docs/get-started/Editor.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.mdx
  docs/get-started/Viewer.mdx
  docs/get-started/Viewer.stories.mdx
  docs/ts/Api.tsx
  docs/ts/Editor.stories.tsx
  docs/ts/FormattingSyntax.stories.tsx
  docs/ts/Install.stories.tsx
  docs/ts/Introduction.stories.tsx
  docs/ts/SyntaxViewer.tsx
  docs/ts/Viewer.stories.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

refactor: rewrite deprecated usage of Storybook (#300)
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  docs/api/Divider.mdx
  docs/api/EditorHeader..mdx
  docs/api/EditorRoot.mdx
  docs/api/EditorSyntaxMenu.mdx
  docs/api/EditorTextFieldBody.mdx
  docs/api/EditorTextFieldRoot.mdx
  docs/api/Overview.mdx
  docs/api/ViewerHeader.mdx
  docs/api/ViewerRoot.mdx
  docs/api/ViewerTextFieldBody.mdx
  docs/api/ViewerTextFieldRoot.mdx
  docs/get-started/Editor.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.mdx
  docs/get-started/Viewer.mdx
  docs/get-started/Viewer.stories.mdx
  docs/ts/Api.tsx
  docs/ts/Editor.stories.tsx
  docs/ts/FormattingSyntax.stories.tsx
  docs/ts/Install.stories.tsx
  docs/ts/Introduction.stories.tsx
  docs/ts/SyntaxViewer.tsx
  docs/ts/Viewer.stories.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

feat: support bold italic in markdown syntax
  docs/get-started/FormattingSyntax.mdx
  docs/ts/FormattingSyntax.stories.tsx
  src/components/organisms/EditorSyntaxMenu/callbacks/decoration.ts
  src/components/organisms/EditorSyntaxMenu/switches/decoration.ts
  src/parser/content/parseContent.ts
  src/parser/decoration/parseBoldItalic.ts
  src/parser/decoration/parseItalicBold.ts
Due: eslint --fix, prettier --write

test
  src/parser/decoration/parseBold.ts
  src/parser/decoration/parseBoldItalic.ts
  src/parser/decoration/parseItalic.ts
  src/parser/decoration/parseItalicBold.ts
  tests/menuDecoration.markdown.test.ts
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

feat: support bold italic in markdown syntax (#301)
  docs/get-started/FormattingSyntax.mdx
  docs/ts/FormattingSyntax.stories.tsx
  src/components/organisms/EditorSyntaxMenu/callbacks/decoration.ts
  src/components/organisms/EditorSyntaxMenu/switches/decoration.ts
  src/parser/content/parseContent.ts
  src/parser/decoration/parseBold.ts
  src/parser/decoration/parseBoldItalic.ts
  src/parser/decoration/parseItalicBold.ts
  tests/menuDecoration.markdown.test.ts
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

v1.1.0
  package.json
Due: prettier --write, sort-package-json

chore: update dependencies
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#302)
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#303)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#304)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#305)
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#306)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

remove needless packages
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#307)
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

update yarnpkg/sdks
  .vscode/settings.json
  .yarn/sdks/eslint/package.json
Due: prettier --write, sort-package-json

Path conditions:
  eslint --fix: any of: ./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}
  sort-package-json: any of: ./**/package.json
