Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

v0.5.3
  package.json
Due: prettier --write

fix: fix README.md
  README.md
Due: prettier --write

fix: fix README.md (#40)
  README.md
Due: prettier --write

v0.5.4
  package.json
Due: prettier --write

fix: fix unexpected cursor position on click
  src/Editor/utils.ts
Due: eslint --fix

fix: fix unexpected cursor position on click (#44)
  src/Editor/utils.ts
Due: eslint --fix

v0.5.5
  package.json
Due: prettier --write

feat: settings for toggling mode
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/index.tsx
Due: eslint --fix

don't use enum
  README.md
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/index.tsx
Due: eslint --fix, prettier --write

fix readme
  README.md
Due: prettier --write

feat: settings for toggling mode (#46)
  README.md
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
Due: eslint --fix, prettier --write

v0.6.0
  package.json
Due: prettier --write

docs: update sample
  sample/src/App.tsx
Due: none

docs: update sample (#47)
  sample/src/App.tsx
Due: none

fix handleOnBlur
  src/Editor/index.tsx
Due: eslint --fix

fix: fix onBlur bug (#48)
  src/Editor/index.tsx
Due: eslint --fix

v0.6.1
  package.json
Due: prettier --write

fix: stop suggestion list propagation
  src/Editor/utils.ts
Due: eslint --fix

fix: stop suggestion list propagation (#49)
  src/Editor/utils.ts
Due: eslint --fix

v0.6.2
  package.json
Due: prettier --write

fix: make modeOnCursor simpler
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/utils.ts
Due: eslint --fix

fix: make modeOnCursor simpler (#50)
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/utils.ts
Due: eslint --fix

v0.6.3
  package.json
Due: prettier --write

chore: update devDependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update devDependencies (#51)
  package.json
  yarn.lock
Due: prettier --write

tmp
  .eslintrc.json
  README.md
  package.json
  sample/src/App.tsx
  sample/src/index.html
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/KaTeX/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/style.css
  yarn.lock
Due: eslint --fix, prettier --write

fix
  src/KaTeX/index.tsx
  src/KaTeX/types.ts
  src/TextLines/index.tsx
Due: eslint --fix

update sample
  sample/src/App.tsx
Due: none

update readme
  src/index.tsx
Due: eslint --fix

update readme
  README.md
  figures/display-mode.png
  figures/inline-mode.png
  package.json
Due: prettier --write

feat: support math formula (#52)
  .eslintrc.json
  README.md
  figures/display-mode.png
  figures/inline-mode.png
  package.json
  sample/src/App.tsx
  sample/src/index.html
  src/Editor/index.tsx
  src/Editor/types.ts
  src/Editor/utils.ts
  src/KaTeX/index.tsx
  src/KaTeX/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/index.tsx
  src/style.css
  yarn.lock
Due: eslint --fix, prettier --write

v0.7.0
  package.json
Due: prettier --write

fix: fix bug
  src/Editor/index.tsx
Due: eslint --fix

fix: fix bug (#53)
  src/Editor/index.tsx
Due: eslint --fix

v0.7.1
  package.json
Due: prettier --write

fix: fix bug
  src/Editor/utils.ts
  src/TextLines/index.tsx
Due: eslint --fix

fix
  src/TextLines/index.tsx
Due: eslint --fix

fix
  src/TextLines/constants.ts
  src/style.css
Due: eslint --fix, prettier --write

fix
  src/Cursor/utils.ts
  src/TextLines/index.tsx
  src/style.css
Due: eslint --fix, prettier --write
