Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}": ["prettier --write"],
  "./**/package.json": ["sort-package-json"]
}

test: refine test target
  target/App.tsx
  tests/testUtils.ts
Due: eslint --fix, prettier --write

test: reuse page to speed up playwright tests
  target/App.tsx
  tests/keyboardArrow.common.test.ts
  tests/keyboardBasic.common.test.ts
  tests/keyboardBrackets.common.test.ts
  tests/keyboardItemization.bracket.test.ts
  tests/keyboardItemization.markdown.test.ts
  tests/keyboardQuotation.common.test.ts
  tests/keyboardSelection.common.test.ts
  tests/keyboardSelection.macos.test.ts
  tests/keyboardSelection.windows.test.ts
  tests/keyboardShortcut.common.test.ts
  tests/keyboardShortcut.macos.test.ts
  tests/keyboardShortcut.windows.test.ts
  tests/keyboardSuggestionList.bracket.test.ts
  tests/keyboardSuggestionList.common.test.ts
  tests/keyboardSuggestionList.markdown.test.ts
  tests/menuCode.common.test.ts
  tests/menuDecoration.bracket.test.ts
  tests/menuDecoration.markdown.test.ts
  tests/menuFormula.common.test.ts
  tests/menuItemization.bracket.test.ts
  tests/menuItemization.markdown.test.ts
  tests/menuLink.common.test.ts
  tests/menuQuotation.common.test.ts
  tests/menuSection.bracket.test.ts
  tests/menuSection.markdown.test.ts
  tests/mousePosition.common.test.ts
  tests/mouseSelection.common.test.ts
  tests/mouseSuggestionList.common.test.ts
  tests/viewerText.bracket.test.ts
  tests/viewerText.common.test.ts
  tests/viewerText.markdown.test.ts
Due: eslint --fix, prettier --write

test: reuse page to speed up playwright tests (#314)
  target/App.tsx
  tests/keyboardArrow.common.test.ts
  tests/keyboardBasic.common.test.ts
  tests/keyboardBrackets.common.test.ts
  tests/keyboardItemization.bracket.test.ts
  tests/keyboardItemization.markdown.test.ts
  tests/keyboardQuotation.common.test.ts
  tests/keyboardSelection.common.test.ts
  tests/keyboardSelection.macos.test.ts
  tests/keyboardSelection.windows.test.ts
  tests/keyboardShortcut.common.test.ts
  tests/keyboardShortcut.macos.test.ts
  tests/keyboardShortcut.windows.test.ts
  tests/keyboardSuggestionList.bracket.test.ts
  tests/keyboardSuggestionList.common.test.ts
  tests/keyboardSuggestionList.markdown.test.ts
  tests/menuCode.common.test.ts
  tests/menuDecoration.bracket.test.ts
  tests/menuDecoration.markdown.test.ts
  tests/menuFormula.common.test.ts
  tests/menuItemization.bracket.test.ts
  tests/menuItemization.markdown.test.ts
  tests/menuLink.common.test.ts
  tests/menuQuotation.common.test.ts
  tests/menuSection.bracket.test.ts
  tests/menuSection.markdown.test.ts
  tests/mousePosition.common.test.ts
  tests/mouseSelection.common.test.ts
  tests/mouseSuggestionList.common.test.ts
  tests/testUtils.ts
  tests/viewerText.bracket.test.ts
  tests/viewerText.common.test.ts
  tests/viewerText.markdown.test.ts
Due: eslint --fix, prettier --write

chore: update workflow action's version
  .github/workflows/test.yml
Due: prettier --write

chore: update workflow action's version (#315)
  .github/workflows/test.yml
Due: prettier --write

upgrade node to v20, yarn to v4
  .node-version
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

update node version in github workflows
  .github/workflows/test.yml
Due: prettier --write

chore: upgrade node to v20, yarn to v4 (#317)
  .github/workflows/test.yml
  .node-version
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

downgrade @types/prettier
  .pnp.cjs
  .yarn/cache/@types-prettier-npm-2.7.3-497316f37c-cda84c19ac.zip
  .yarn/cache/@types-prettier-npm-3.0.0-6c770110eb-a2a512d304.zip
  .yarn/cache/prettier-npm-3.0.3-fced695dae-ccf1ead979.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: production build error
  .storybook/main.ts
  .storybook/preview-head.html
  package.json
Due: prettier --write, sort-package-json

fix: production build error (#323)
  .storybook/main.ts
  .storybook/preview-head.html
  package.json
Due: prettier --write, sort-package-json

fix: deploy-storybook script
  package.json
Due: prettier --write, sort-package-json

fix: deploy-storybook script (#324)
  package.json
Due: prettier --write, sort-package-json

fix: Storybook deploy error
  package.json
Due: prettier --write, sort-package-json

fix: Storybook deploy error (#325)
  package.json
Due: prettier --write, sort-package-json

move styled component to atoms
  src/components/atoms/text/CodeLineContent/index.tsx
  src/components/atoms/text/DecorationContent/index.tsx
  src/components/atoms/text/QuotationLineContent/index.tsx
  src/components/molecules/text/BlockCode/BlockCodeContent.tsx
  src/components/molecules/text/BlockCode/BlockCodeLine.tsx
  src/components/molecules/text/BlockCode/BlockCodeMeta.tsx
  src/components/molecules/text/Decoration/index.tsx
  src/components/molecules/text/Quotation/index.tsx
  src/components/organisms/EditorSyntaxMenu/callbacks/decoration.ts
  src/components/organisms/EditorSyntaxMenu/switches/decoration.ts
  src/components/organisms/EditorSyntaxMenu/switches/section.ts
  src/parser/common/types.ts
  src/parser/decoration/parseBold.ts
  src/parser/decoration/parseBoldItalic.ts
  src/parser/decoration/parseDecoration.ts
  src/parser/decoration/parseHeading.ts
  src/parser/decoration/parseItalic.ts
  src/parser/decoration/parseItalicBold.ts
  src/parser/decoration/types.ts
  src/parser/text/parseText.ts
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

refactor docs
  docs/ts/Api.tsx
Due: eslint --fix, prettier --write

feat: support dark theme
  @types/emotion.d.ts
  src/common/constants.ts
  src/components/atoms/cursor/CursorBar/index.tsx
  src/components/atoms/cursor/CursorTextArea/index.tsx
  src/components/atoms/menu/DropdownMenuButton/index.tsx
  src/components/atoms/menu/DropdownMenuList/index.tsx
  src/components/atoms/menu/DropdownMenuListItem/index.tsx
  src/components/atoms/menu/IconButtonMenu/index.tsx
  src/components/atoms/root/Divider/index.tsx
  src/components/atoms/root/Header/index.tsx
  src/components/atoms/root/Root/index.tsx
  src/components/atoms/selection/SelectionRect/index.tsx
  src/components/atoms/suggestion/SuggesionList/index.tsx
  src/components/atoms/suggestion/SuggesionListBody/index.tsx
  src/components/atoms/suggestion/SuggesionListHeader/index.tsx
  src/components/atoms/suggestion/SuggesionListItem/index.tsx
  src/components/atoms/text/CodeLineContent/index.tsx
  src/components/atoms/text/DecorationContent/index.tsx
  src/components/atoms/text/EmbededLink/index.tsx
  src/components/atoms/text/ItemBullet/index.tsx
  src/components/atoms/text/Monospace/index.tsx
  src/components/atoms/text/MonospaceLineContent/index.tsx
  src/components/atoms/text/QuotationLineContent/index.tsx
  src/components/molecules/text/BlockCode/BlockCodeLine.tsx
  src/components/molecules/text/BlockCode/BlockCodeMeta.tsx
  src/components/molecules/text/BlockFormula/BlockFormulaLine.tsx
  src/components/molecules/text/BlockFormula/BlockFormulaMeta.tsx
  src/components/organisms/EditorRoot/index.tsx
  src/components/organisms/ViewerRoot/index.tsx
  src/contexts/EditorPropsContext.tsx
  src/contexts/ViewerPropsContext.tsx
  src/types/visual/theme.ts
  target/App.tsx
  tsconfig.json
  tsconfig.lib.json
Due: eslint --fix, prettier --write

update storybook
  .storybook/theme.ts
  docs/ts/Editor.stories.tsx
  docs/ts/FormattingSyntax.stories.tsx
  docs/ts/Install.stories.tsx
  docs/ts/Introduction.stories.tsx
  docs/ts/Viewer.stories.tsx
  src/common/constants.ts
  target/App.tsx
Due: eslint --fix, prettier --write

fix
  target/App.tsx
Due: eslint --fix, prettier --write

chore: remove redundant dependencies of storybook
  .pnp.cjs
  package.json
  target/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

chore: remove redundant dependencies of storybook (#328)
  .pnp.cjs
  package.json
  target/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

update docs
  docs/api/EditorRoot.mdx
  docs/api/ViewerRoot.mdx
  docs/ts/Api.tsx
Due: eslint --fix, prettier --write
