Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: fix README.md
  README.md
Due: prettier --write

fix
  README.md
Due: prettier --write

fix: fix README.md (#111)
  README.md
Due: prettier --write

fix: fix README.md (#112)
  README.md
Due: prettier --write

v0.13.0
  package.json
Due: prettier --write

docs(sample): update sample
  sample/src/App.tsx
Due: eslint --fix

docs(sample): update sample (#113)
  sample/src/App.tsx
Due: eslint --fix

refactor: use funcion and hooks
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/index.tsx
Due: eslint --fix

refactor: use funcion and hooks (#114)
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/index.tsx
Due: eslint --fix

v0.13.1
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#115)
  package.json
  yarn.lock
Due: prettier --write

chore: refine config files
  .editorconfig
Due: none

fix
  .editorconfig
Due: none

refine settings.json
  .vscode/settings.json
Due: prettier --write

chore: refine config files (#116)
  .editorconfig
  .vscode/settings.json
Due: prettier --write

add line group indent and content
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix

feat: add spanProps to math formulas
  README.md
  sample/src/App.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

feat: add spanProps to math formulas (#117)
  README.md
  sample/src/App.tsx
  src/Editor/types.ts
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

v0.13.2
  package.json
Due: prettier --write

chore: update dependencies (#118)
  package.json
  yarn.lock
Due: prettier --write

fix: margin bottom style
  src/style.css
Due: prettier --write

fix: margin bottom style (#119)
  src/style.css
Due: prettier --write

v0.13.3
  package.json
Due: prettier --write

chore: update dependencies (#120)
  package.json
  yarn.lock
Due: prettier --write

chore: update deps
  package.json
  yarn.lock
Due: prettier --write

chore: update deps (#121)
  package.json
  yarn.lock
Due: prettier --write

chore: add node-version
  .node-version
Due: none

fix settings.json
  .vscode/settings.json
Due: prettier --write

chore: add node-version (#122)
  .node-version
  .vscode/settings.json
Due: prettier --write

chore: update .gitignore
  .gitignore
Due: none

chore: update .gitignore (#123)
  .gitignore
Due: none

build: update configs and dependencies
  .eslintrc.json
  .vscode/settings.json
  package.json
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

build: update configs and dependencies (#124)
  .eslintrc.json
  .vscode/settings.json
  package.json
  sample/src/App.tsx
  src/Cursor/index.tsx
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

v0.13.4
  package.json
Due: prettier --write

update configs
  .eslintignore
  .eslintrc.json
  .vscode/settings.json
Due: prettier --write

refine configs
  .eslintignore
  .eslintrc.json
  .vscode/settings.json
  package.json
  sample/src/App.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: ./{src,tests,sample}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
