Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: fix bugs (#142)
  src/Editor/callbacks/index.ts
Due: eslint --fix

v0.14.1
  package.json
Due: prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update dependencies (#143)
  package.json
  yarn.lock
Due: prettier --write

v0.14.2
  package.json
Due: prettier --write

fix: fix suggestion bug
  src/Editor/callbacks/utils.ts
Due: eslint --fix

fix: fix suggestion bug (#144)
  src/Editor/callbacks/utils.ts
Due: eslint --fix

v0.14.3
  package.json
Due: prettier --write

style: change lineWidth
  .editorconfig
  .prettierrc.json
  .vscode/settings.json
  babel.config.json
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/shortcutCommands.ts
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/types.ts
  src/TextLines/utils.ts
  test-fixtures/Editor/shortcutCommand.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Editor/components/KeyboardTest.tsx
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

style: change lineWidth (#145)
  .editorconfig
  .prettierrc.json
  .vscode/settings.json
  babel.config.json
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Editor/callbacks/index.ts
  src/Editor/callbacks/shortcutCommands.ts
  src/Editor/callbacks/utils.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/KaTeX/index.tsx
  src/Selection/index.tsx
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/types.ts
  src/TextLines/utils.ts
  test-fixtures/Editor/shortcutCommand.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Editor/components/KeyboardTest.tsx
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

tmp
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/parseText.ts
  src/TextLines/parser/types.ts
Due: eslint --fix

done
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/index.ts
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/parseText.ts
  src/TextLines/parser/types.ts
  src/TextLines/parser/utils.ts
  src/TextLines/style.css
  src/TextLines/types.ts
Due: eslint --fix, prettier --write

fix
  src/Editor/callbacks/index.ts
Due: eslint --fix

fix
  sample/src/App.tsx
  src/Editor/callbacks/index.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
Due: eslint --fix

update readme
  README.md
Due: prettier --write

chore: add config for husky v6
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: prettier --write

should empty
  src/index.tsx
Due: eslint --fix

fix
  .lintstagedrc.json
  src/index.tsx
Due: eslint --fix, prettier --write

update
  .huskyrc.json
  .lintstagedrc.json
Due: prettier --write

chore: add config for husky v6 (#147)
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: prettier --write

feat: export parser
  src/parser.ts
Due: eslint --fix

feat: export parser (#148)
  src/parser.ts
Due: eslint --fix

fix to pass tests
  src/Editor/callbacks/index.ts
  test-fixtures/Editor/keyboardScenario.json
  test-fixtures/TextLines/getDecorationStyle.json
  test-fixtures/TextLines/parseText.json
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write

fix: export ParsingOptions
  src/parser.ts
Due: eslint --fix

fix: export ParsingOptions (#149)
  src/parser.ts
Due: eslint --fix

fix: disabled to readonly
  README.md
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/types.ts
Due: eslint --fix, prettier --write

fix
  tests/Editor/components/KeyboardTest.tsx
Due: eslint --fix

fix: disabled to readonly (#150)
  README.md
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/types.ts
  tests/Editor/components/KeyboardTest.tsx
Due: eslint --fix, prettier --write

revert: make parser private
  src/Editor/index.tsx
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/parser.ts
Due: eslint --fix

revert: make parser private (#151)
  src/Editor/index.tsx
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/parser.ts
Due: eslint --fix

fix: fix typo
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/index.tsx
Due: eslint --fix

fix: fix typo (#152)
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/index.tsx
Due: eslint --fix

v0.15.0
  package.json
Due: prettier --write

v0.15.1
  package.json
Due: prettier --write

.
  src/Editor/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/types.ts
  src/index.tsx
Due: eslint --fix, prettier --write

feat: export TextLines as Viewer (#153)
  src/Editor/constants.ts
  src/TextLines/index.tsx
  src/TextLines/style.css
  src/TextLines/types.ts
  src/index.tsx
Due: eslint --fix, prettier --write

revert: README
  README.md
Due: prettier --write

feat: support markdown like syntax (#146)
  sample/src/App.tsx
  src/Editor/callbacks/index.ts
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/components/index.tsx
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/index.ts
  src/TextLines/parser/parseContent.ts
  src/TextLines/parser/parseLine.ts
  src/TextLines/parser/parseText.ts
  src/TextLines/parser/types.ts
  src/TextLines/parser/utils.ts
  src/TextLines/style.css
  src/TextLines/types.ts
  test-fixtures/Editor/keyboardScenario.json
  test-fixtures/TextLines/getDecorationStyle.json
  test-fixtures/TextLines/parseText.json
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write

v0.16.0
  package.json
Due: prettier --write

docs: update READÂE.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,tests,sample}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
