Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

Notes added by 'git notes add'
  f28d404bc1783a7691f173e5fcfbdba525e7173f
Due: none

feat: rename theme to
  @types/emotion.d.ts
  docs/api/EditorRoot.mdx
  docs/api/ViewerRoot.mdx
  docs/ts/Editor.stories.tsx
  docs/ts/FormattingSyntax.stories.tsx
  docs/ts/Install.stories.tsx
  docs/ts/Introduction.stories.tsx
  docs/ts/Viewer.stories.tsx
  src/common/constants.ts
  src/components/organisms/EditorRoot/index.tsx
  src/components/organisms/ViewerRoot/index.tsx
  src/contexts/EditorPropsContext.tsx
  src/contexts/ViewerPropsContext.tsx
  src/types/visual/theme.ts
  target/App.tsx
Due: eslint --fix, prettier --write

feat: rename theme to (#405)
  @types/emotion.d.ts
  docs/api/EditorRoot.mdx
  docs/api/ViewerRoot.mdx
  docs/ts/Editor.stories.tsx
  docs/ts/FormattingSyntax.stories.tsx
  docs/ts/Install.stories.tsx
  docs/ts/Introduction.stories.tsx
  docs/ts/Viewer.stories.tsx
  src/common/constants.ts
  src/components/organisms/EditorRoot/index.tsx
  src/components/organisms/ViewerRoot/index.tsx
  src/contexts/EditorPropsContext.tsx
  src/contexts/ViewerPropsContext.tsx
  src/types/visual/theme.ts
  target/App.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  474bd7098ca9d35b838874ca41cd5abf45a09196
Due: none

perf: use React.memo in atoms text
  src/components/atoms/text/Char/index.tsx
  src/components/atoms/text/CharGroup/index.tsx
  src/components/atoms/text/EmbededLink/index.tsx
  src/components/atoms/text/ItemBullet/index.tsx
  src/components/atoms/text/ItemBulletContent/index.tsx
  src/components/atoms/text/KaTeX/index.tsx
  src/components/atoms/text/Line/index.tsx
  src/components/atoms/text/LineContent/index.tsx
  src/components/atoms/text/LineGroup/index.tsx
  src/components/atoms/text/LineGroupContent/index.tsx
  src/components/atoms/text/LineGroupIndent/index.tsx
  src/components/atoms/text/LineIndent/index.tsx
  src/components/atoms/text/Monospace/index.tsx
  src/components/molecules/text/BlockFormula/index.tsx
  src/components/molecules/text/ContentFormula/index.tsx
  src/components/organisms/EditorTextFieldBody/index.tsx
Due: eslint --fix, prettier --write

refine cursorCoordinateLine
  src/components/organisms/EditorTextFieldBody/common/cursor.ts
Due: eslint --fix, prettier --write

perf: use React.memo in molecules text
  src/components/molecules/text/BlockCode/BlockCodeLine.tsx
  src/components/molecules/text/BlockCode/BlockCodeMeta.tsx
  src/components/molecules/text/BlockFormula/BlockFormulaLine.tsx
  src/components/molecules/text/BlockFormula/BlockFormulaMeta.tsx
  src/components/molecules/text/BracketLink/index.tsx
  src/components/molecules/text/ContentFormula/index.tsx
  src/components/molecules/text/Hashtag/index.tsx
  src/components/molecules/text/InlineCode/index.tsx
  src/components/molecules/text/Normal/index.tsx
  src/components/molecules/text/TaggedLink/index.tsx
  src/components/molecules/text/Text/TextNodeComponent.hooks.ts
  src/components/molecules/text/Url/index.tsx
Due: eslint --fix, prettier --write

use editMode instead of getEditMode
  src/components/molecules/text/BlockFormula/index.tsx
  src/components/molecules/text/BracketLink/index.tsx
  src/components/molecules/text/ContentFormula/index.tsx
  src/components/molecules/text/Decoration/index.tsx
  src/components/molecules/text/Hashtag/index.tsx
  src/components/molecules/text/InlineCode/index.tsx
  src/components/molecules/text/Itemization/index.tsx
  src/components/molecules/text/Quotation/index.tsx
  src/components/molecules/text/TaggedLink/index.tsx
  src/components/molecules/text/Text/index.tsx
  src/components/molecules/text/Url/index.tsx
  src/components/molecules/text/common/types.ts
Due: eslint --fix, prettier --write

remove unexpected export
  src/components/molecules/text/BlockCode/BlockCodeLine.tsx
Due: eslint --fix, prettier --write

remove lineIndex from content node
  src/components/molecules/text/Text/TextNodeList.hooks.ts
  src/parser/bracketLink/bracketLinkNode.ts
  src/parser/bracketLink/parseBracketLink.ts
  src/parser/decoration/decorationNode.ts
  src/parser/decoration/parseBold.ts
  src/parser/decoration/parseBoldItalic.ts
  src/parser/decoration/parseDecoration.ts
  src/parser/decoration/parseHeading.ts
  src/parser/decoration/parseItalic.ts
  src/parser/decoration/parseItalicBold.ts
  src/parser/displayFormula/displayFormulaNode.ts
  src/parser/displayFormula/parseDisplayFormula.ts
  src/parser/hashtag/hashtagNode.ts
  src/parser/hashtag/parseHashtag.ts
  src/parser/inlineCode/inlineCodeNode.ts
  src/parser/inlineCode/parseInlineCode.ts
  src/parser/inlineFormula/inlineFormulaNode.ts
  src/parser/inlineFormula/parseInlineFormula.ts
  src/parser/normal/normalNode.ts
  src/parser/normal/parseNormal.ts
  src/parser/taggedLink/parseTaggedLink.ts
  src/parser/taggedLink/taggedLinkNode.ts
  src/parser/url/parseUrl.ts
  src/parser/url/urlNode.ts
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

dont pass ChildComponent
  src/components/molecules/text/Decoration/index.tsx
  src/components/molecules/text/Itemization/index.tsx
  src/components/molecules/text/NormalLine/index.tsx
  src/components/molecules/text/Quotation/index.tsx
  src/components/molecules/text/Text/TextNode.tsx
  src/components/molecules/text/Text/TextNodeList.tsx
  src/components/molecules/text/common/TextNodeProps.ts
Due: eslint --fix, prettier --write

chore: refine package scripts
  .lintstagedrc.json
  app/App.tsx
  app/index.html
  app/index.tsx
  package.json
  tsconfig.json
  viteconfig.app.mts
Due: prettier --write, sort-package-json

chore: refine package scripts (#408)
  .lintstagedrc.json
  app/App.tsx
  app/index.html
  app/index.tsx
  package.json
  tsconfig.json
  viteconfig.app.mts
Due: prettier --write, sort-package-json

drop TextVisual
  docs/api/EditorRoot.mdx
  docs/api/ViewerRoot.mdx
  src/components/atoms/text/Line/index.tsx
  src/components/molecules/text/BlockCode/BlockCodeLine.tsx
  src/components/molecules/text/BlockCode/BlockCodeMeta.tsx
  src/components/molecules/text/BlockFormula/BlockFormulaLine.tsx
  src/components/molecules/text/BlockFormula/BlockFormulaMeta.tsx
  src/components/molecules/text/Itemization/index.tsx
  src/components/molecules/text/NormalLine/index.tsx
  src/components/molecules/text/Quotation/index.tsx
  src/components/molecules/text/common/textNodeVisuals.ts
  src/components/organisms/EditorTextFieldBody/hooks.ts
  src/components/organisms/ViewerTextFieldBody/hooks.ts
  src/contexts/EditorPropsContext.tsx
  src/contexts/ViewerPropsContext.tsx
  src/index.tsx
  src/types/visual/text.ts
  target/App.tsx
Due: eslint --fix, prettier --write

define optinalBlockMetaNodeEquals
  src/parser/blockCode/blockCodeMetaNode.ts
  src/parser/blockCode/blockCodeNode.ts
  src/parser/blockFormula/blockFormulaMetaNode.ts
  src/parser/blockFormula/blockFormulaNode.ts
Due: eslint --fix, prettier --write

remove textNodesWithReactKey
  src/components/molecules/text/Text/TextNodeList.tsx
  src/components/molecules/text/common/TextNodeProps.ts
Due: eslint --fix, prettier --write

update test
  unittests/parseText.testcase.ts
Due: eslint --fix, prettier --write

update e2etest
  tests/keyboardSelection.common.test.ts
  tests/keyboardSelection.macos.test.ts
  tests/keyboardSelection.windows.test.ts
  tests/keyboardShortcut.common.test.ts
  tests/keyboardShortcut.macos.test.ts
  tests/keyboardShortcut.windows.test.ts
  tests/menuCode.common.test.ts
  tests/menuDecoration.bracket.test.ts
  tests/menuDecoration.markdown.test.ts
  tests/menuFormula.common.test.ts
  tests/menuItemization.bracket.test.ts
  tests/menuItemization.markdown.test.ts
  tests/menuLink.common.test.ts
  tests/menuQuotation.common.test.ts
  tests/menuSection.bracket.test.ts
  tests/menuSection.markdown.test.ts
  tests/mousePosition.common.test.ts
  tests/mouseSelection.common.test.ts
Due: eslint --fix, prettier --write

fix bug
  src/components/organisms/EditorSyntaxMenu/callbacks/common/block.ts
  src/components/organisms/EditorSyntaxMenu/common/utils.ts
  tests/menuCode.common.test.ts
  tests/menuFormula.common.test.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  27dfc4f7b5fcf5d363e046bc9df099697227b360
Due: none

fix lint error
  src/components/organisms/EditorSyntaxMenu/switches/section.ts
Due: eslint --fix, prettier --write

chore: remove eslintrc.json
  .eslintrc.json
Due: prettier --write

chore: remove eslintrc.json (#413)
  .eslintrc.json
Due: prettier --write

update vscode sdks
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  3b21b06ced016a4699c89bd5851b7a38574cca04
Due: none

Path conditions:
  eslint --fix: any of: ./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}
  sort-package-json: any of: ./**/package.json
