Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}": ["prettier --write"],
  "./**/package.json": ["sort-package-json"]
}

.
  yarn.lock
Due: none

Notes added by 'git notes add'
  d4a6e84f60317020866f9a2fd885d9ff4b3eb8b7
Due: none

chore: update yarnpkg/sdks
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/types/index.d.ts
  .yarn/sdks/eslint/lib/types/rules/index.d.ts
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/types/use-at-your-own-risk.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
Due: prettier --write, sort-package-json

,
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/types/index.d.ts
  .yarn/sdks/eslint/lib/types/rules/index.d.ts
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/types/use-at-your-own-risk.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
Due: prettier --write

chore: update yarnpkg/sdks (#451)
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
Due: prettier --write, sort-package-json

upgrade ysarn
  .pnp.cjs
  .pnp.loader.mjs
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/types/use-at-your-own-risk.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

.
  .storybook/main.ts
Due: prettier --write

Notes added by 'git notes add'
  76d9996a9f5e287ad3ffa95d6975536f5040a319
Due: none

chore: downgrade yarn
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

chore: downgrade yarn (#453)
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

update yarn
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

build: downgrade yarn
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

build: downgrade yarn (#455)
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  7a7b122fef3a3e5e2d570c2323e0dffefa6b47d4
Due: none

.
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
Due: prettier --write, sort-package-json

.
  src/components/atoms/text/Char/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  068931c3f791577cb55383c72f93b3220056c855
Due: none

chore: update dependencies
  .pnp.cjs
  .yarn/cache/@eslint-js-npm-9.25.0-8d252d12cf-c00b5abc95.zip
  .yarn/cache/@eslint-js-npm-9.25.1-6002ce1a0f-ad58128895.zip
  .yarn/cache/@types-node-npm-22.14.1-ff7e0a29d7-561b1ad98e.zip
  .yarn/cache/@types-node-npm-22.15.2-8c5ac561a4-e220715712.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.30.1-f4da10f397-769b0365c1.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.31.0-bde6945293-183ae3bdd5.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.30.1-bcee4d456e-ffff7bfa7e.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.31.0-2d729f2620-468f9f9cc6.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.30.1-4b479f2d73-ecae69888a.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.31.0-d09ab710fa-4ca30db2e6.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.30.1-0e1c22c03c-c7a285bae7.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.31.0-4f5bb0fadb-b17aba3e9a.zip
  .yarn/cache/@typescript-eslint-types-npm-8.30.1-8bfe1eac21-342ec75ba2.zip
  .yarn/cache/@typescript-eslint-types-npm-8.31.0-c2b9b94c80-937eca6924.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.30.1-185919bfaf-60c307fbb8.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.31.0-9ede3af6ce-e2155504e2.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.30.1-e8c9d86e99-97d27d2f0b.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.31.0-ae33fa65ee-9e8fcef36b.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.30.1-e4b2f0ebba-0c08169123.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.31.0-9216727f4a-85417c4fb4.zip
  .yarn/cache/@unrs-resolver-binding-darwin-x64-npm-1.5.0-9c7137f2cb-10.zip
  .yarn/cache/@unrs-resolver-binding-darwin-x64-npm-1.7.0-60b9cc13f1-10.zip
  .yarn/cache/eslint-import-resolver-typescript-npm-4.3.2-7d5e582a8b-40f4d4a888.zip
  .yarn/cache/eslint-import-resolver-typescript-npm-4.3.4-6c69d9f4ea-3620479c17.zip
  .yarn/cache/eslint-npm-9.25.0-f3404614f6-deae86e719.zip
  .yarn/cache/eslint-npm-9.25.1-be5aefaed2-037bbdc5cb.zip
  .yarn/cache/fdir-npm-6.4.4-ac98cf8d06-d0000d6b79.zip
  .yarn/cache/napi-postinstall-npm-0.1.6-ae0e6fd9d9-991b296c66.zip
  .yarn/cache/tinyglobby-npm-0.2.13-13dba315b3-b04557ee58.zip
  .yarn/cache/unrs-resolver-npm-1.5.0-40f06bff56-124936f842.zip
  .yarn/cache/unrs-resolver-npm-1.7.0-e7f8809518-2a182ab87a.zip
  .yarn/cache/vite-npm-6.3.2-760f25041d-05ea5e03d8.zip
  .yarn/cache/vite-npm-6.3.3-3e26e16e98-442e518d9d.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: update dependencies (#462)
  .pnp.cjs
  .yarn/cache/@eslint-js-npm-9.25.0-8d252d12cf-c00b5abc95.zip
  .yarn/cache/@eslint-js-npm-9.25.1-6002ce1a0f-ad58128895.zip
  .yarn/cache/@types-node-npm-22.14.1-ff7e0a29d7-561b1ad98e.zip
  .yarn/cache/@types-node-npm-22.15.2-8c5ac561a4-e220715712.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.30.1-f4da10f397-769b0365c1.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-8.31.0-bde6945293-183ae3bdd5.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.30.1-bcee4d456e-ffff7bfa7e.zip
  .yarn/cache/@typescript-eslint-parser-npm-8.31.0-2d729f2620-468f9f9cc6.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.30.1-4b479f2d73-ecae69888a.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-8.31.0-d09ab710fa-4ca30db2e6.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.30.1-0e1c22c03c-c7a285bae7.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-8.31.0-4f5bb0fadb-b17aba3e9a.zip
  .yarn/cache/@typescript-eslint-types-npm-8.30.1-8bfe1eac21-342ec75ba2.zip
  .yarn/cache/@typescript-eslint-types-npm-8.31.0-c2b9b94c80-937eca6924.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.30.1-185919bfaf-60c307fbb8.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-8.31.0-9ede3af6ce-e2155504e2.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.30.1-e8c9d86e99-97d27d2f0b.zip
  .yarn/cache/@typescript-eslint-utils-npm-8.31.0-ae33fa65ee-9e8fcef36b.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.30.1-e4b2f0ebba-0c08169123.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-8.31.0-9216727f4a-85417c4fb4.zip
  .yarn/cache/@unrs-resolver-binding-darwin-x64-npm-1.5.0-9c7137f2cb-10.zip
  .yarn/cache/@unrs-resolver-binding-darwin-x64-npm-1.7.0-60b9cc13f1-10.zip
  .yarn/cache/eslint-import-resolver-typescript-npm-4.3.2-7d5e582a8b-40f4d4a888.zip
  .yarn/cache/eslint-import-resolver-typescript-npm-4.3.4-6c69d9f4ea-3620479c17.zip
  .yarn/cache/eslint-npm-9.25.0-f3404614f6-deae86e719.zip
  .yarn/cache/eslint-npm-9.25.1-be5aefaed2-037bbdc5cb.zip
  .yarn/cache/fdir-npm-6.4.4-ac98cf8d06-d0000d6b79.zip
  .yarn/cache/napi-postinstall-npm-0.1.6-ae0e6fd9d9-991b296c66.zip
  .yarn/cache/tinyglobby-npm-0.2.13-13dba315b3-b04557ee58.zip
  .yarn/cache/unrs-resolver-npm-1.5.0-40f06bff56-124936f842.zip
  .yarn/cache/unrs-resolver-npm-1.7.0-e7f8809518-2a182ab87a.zip
  .yarn/cache/vite-npm-6.3.2-760f25041d-05ea5e03d8.zip
  .yarn/cache/vite-npm-6.3.3-3e26e16e98-442e518d9d.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

.
  .pnp.cjs
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  393095a86b2b5f822c0e8609ef0ebcc6e46f67a0
Due: none

chore: update node in github actions
  .github/workflows/reusable-ghpages.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/reusable-unittest.yml
Due: prettier --write

chore: update node in github actions (#466)
  .github/workflows/reusable-ghpages.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/reusable-unittest.yml
Due: prettier --write

chore: update yarnpkg/sdk
  .yarn/sdks/eslint/package.json
Due: prettier --write, sort-package-json

chore: update yarnpkg/sdk (#468)
  .yarn/sdks/eslint/package.json
Due: prettier --write, sort-package-json
