Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

impkement tester component
  tests/Editor/TextareaTester.tsx
Due: eslint --fix

install testing library
  package.json
  yarn.lock
Due: prettier --write

add simplest test
  package.json
  test-fixtures/Editor/keyTyping.json
  test-fixtures/Editor/shortcutCommand.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Cursor/moveCursor.test.ts
  tests/Editor/KeyboardTest.tsx
  tests/Editor/TextareaTester.tsx
  tests/Editor/keyTyping.test.tsx
  tests/Editor/shortcutCommand.test.tsx
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getSelectedText.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
  tests/jest.setup.ts
  tests/unittest/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

add fixtures
  test-fixtures/Editor/keyTyping.json
Due: prettier --write

test: implement unit tests of state transition event handlers of Editor (#95)
  package.json
  test-fixtures/Editor/keyTyping.json
  test-fixtures/Editor/shortcutCommand.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Cursor/moveCursor.test.ts
  tests/Editor/KeyboardTest.tsx
  tests/Editor/keyTyping.test.tsx
  tests/Editor/shortcutCommand.test.tsx
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getSelectedText.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
  tests/jest.setup.ts
  tests/unittest/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

simplify test case
  test-fixtures/Editor/keyTyping.json
Due: prettier --write

rename test
  test-fixtures/Editor/keyTyping.json
Due: prettier --write

add shortcut command tests
  test-fixtures/Editor/keyTyping.json
  test-fixtures/Editor/shortcutCommand.json
  tests/Editor/keyTyping.test.tsx
  tests/Editor/shortcutCommand.test.tsx
Due: eslint --fix, prettier --write

test: implement unit tests of state transition of shortcut commands (#96)
  test-fixtures/Editor/keyTyping.json
  test-fixtures/Editor/shortcutCommand.json
  tests/Editor/keyTyping.test.tsx
  tests/Editor/shortcutCommand.test.tsx
Due: eslint --fix, prettier --write

fix test name
  test-fixtures/Editor/keyTyping.json
Due: prettier --write

create empty files
  test-fixtures/Editor/keyboardScenario.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Cursor/moveCursor.test.ts
  tests/Editor/keyTyping.test.tsx
  tests/Editor/keyboardScenario.test.tsx
  tests/Editor/shortcutCommand.test.tsx
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getSelectedText.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
  tests/utils/integration/index.ts
  tests/utils/integration/types.ts
  tests/utils/unit/index.ts
  tests/utils/unit/types.ts
Due: eslint --fix, prettier --write

fix
  tests/Editor/keyTyping.test.tsx
  tests/Editor/keyboardScenario.test.tsx
  tests/Editor/shortcutCommand.test.tsx
  tests/utils/unit/index.ts
Due: eslint --fix

add comment
  tests/Editor/shortcutCommand.test.tsx
Due: eslint --fix

rename files
  test-fixtures/Editor/keyboardOperation.json
  tests/Editor/keyboardOperation.test.tsx
Due: eslint --fix, prettier --write

add integration test utils
  tests/utils/integration/index.ts
  tests/utils/integration/types.ts
  tests/utils/unit/index.ts
Due: eslint --fix

fix
  tests/utils/integration/index.ts
Due: eslint --fix

fix
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/TextLines/index.tsx
Due: eslint --fix

done
  src/Cursor/utils.ts
Due: eslint --fix

feat: auto scroll while dragging (#104)
  src/Cursor/utils.ts
  src/Editor/index.tsx
  src/Editor/utils.ts
  src/TextLines/index.tsx
Due: eslint --fix

v0.12.3
  package.json
Due: prettier --write

not integration test but scenario test
  tests/utils/integration/index.ts
  tests/utils/integration/types.ts
  tests/utils/scenario/index.ts
  tests/utils/scenario/types.ts
Due: eslint --fix

fix
  test-fixtures/Editor/keyboardOperation.json
  test-fixtures/Editor/keyboardScenario.json
  test-fixtures/Editor/shortcutCommand.json
  test-fixtures/TextLines/parseText.json
  tests/Editor/keyboardOperation.test.tsx
  tests/Editor/keyboardScenario.test.tsx
  tests/Editor/shortcutCommand.test.tsx
  tests/utils/osenv.ts
  tests/utils/scenario/index.ts
Due: eslint --fix, prettier --write

add fixtures
  test-fixtures/Editor/keyboardScenario.json
  tests/Editor/keyboardScenario.test.tsx
  tests/Editor/shortcutCommand.test.tsx
Due: eslint --fix, prettier --write

fix
  test-fixtures/Editor/keyboardScenario.json
Due: prettier --write

test: implement scenario tests of keyboard event handlers of Editor (#97)
  test-fixtures/Editor/keyboardOperation.json
  test-fixtures/Editor/keyboardScenario.json
  test-fixtures/Editor/shortcutCommand.json
  test-fixtures/TextLines/parseText.json
  tests/Cursor/cursorCoordinateToTextIndex.test.ts
  tests/Cursor/moveCursor.test.ts
  tests/Editor/keyboardOperation.test.tsx
  tests/Editor/keyboardScenario.test.tsx
  tests/Editor/shortcutCommand.test.tsx
  tests/Selection/getLineSelection.test.ts
  tests/Selection/getSelectedText.test.ts
  tests/Selection/getWordSelection.test.ts
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
  tests/utils/osenv.ts
  tests/utils/scenario/index.ts
  tests/utils/scenario/types.ts
  tests/utils/unit/index.ts
  tests/utils/unit/types.ts
Due: eslint --fix, prettier --write

feat: support quotation
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

feat: support quotation (#106)
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

docs(sample): update sample
  README.md
  sample/src/App.tsx
  src/TextLines/constants.ts
Due: eslint --fix, prettier --write

docs(sample): update sample (#107)
  README.md
  sample/src/App.tsx
  src/TextLines/constants.ts
Due: eslint --fix, prettier --write

rename
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  tests/TextLines/parseText.test.ts
Due: eslint --fix

tmp
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  test-fixtures/TextLines/getDecorationStyle.json
  test-fixtures/TextLines/parseText.json
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write

fix
  src/TextLines/constants.ts
  src/TextLines/utils.ts
Due: eslint --fix

refactor
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/contentParser.ts
  src/TextLines/parser/index.ts
  src/TextLines/parser/lineParser.ts
  src/TextLines/parser/nodes.ts
  src/TextLines/parser/types.ts
  src/TextLines/types.ts
  src/TextLines/utils.ts
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
Due: eslint --fix

fix
  src/TextLines/components/index.tsx
  src/TextLines/index.tsx
Due: eslint --fix

done
  sample/src/App.tsx
  src/Editor/utils.ts
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/index.tsx
  src/TextLines/parser/lineParser.ts
  src/TextLines/parser/nodes.ts
  src/style.css
Due: eslint --fix, prettier --write

fix
  src/style.css
Due: prettier --write

update readme
  README.md
  figures/block-mode.png
Due: prettier --write

feat: multiple lines math formula (#109)
  README.md
  figures/block-mode.png
  sample/src/App.tsx
  src/Editor/utils.ts
  src/TextLines/components/index.tsx
  src/TextLines/components/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/parser/contentParser.ts
  src/TextLines/parser/index.ts
  src/TextLines/parser/lineParser.ts
  src/TextLines/parser/nodes.ts
  src/TextLines/parser/types.ts
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/style.css
  test-fixtures/TextLines/getDecorationStyle.json
  test-fixtures/TextLines/parseText.json
  tests/TextLines/getDecorationStyle.test.ts
  tests/TextLines/parseText.test.ts
Due: eslint --fix, prettier --write

docs: update README.md
  README.md
Due: prettier --write

docs: update README.md (#110)
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,tests,sample}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
