Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,tests,sample}/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,ts,tsx,yaml,yml}": ["prettier --write"]
}

vite for playwright testing
  package.json
  playwright.config.ts
  src/components/atoms/text/KaTeX/index.tsx
  target/App.tsx
  target/index.html
  target/index.tsx
  target/src/index.ejs
  viteconfig.tests.ts
  yarn.lock
Due: eslint --fix, prettier --write

install ts-jest
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

export all public objects and declarations
  src/contexts/EditorPropsContext.tsx
  src/contexts/ViewerPropsContext.tsx
  src/index.tsx
  target/App.tsx
Due: eslint --fix, prettier --write

fix type error
  src/components/organisms/EditorSyntaxMenu/hooks/bracketMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/codeMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/formulaMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/hashtagMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/itemizationMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/quotationMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/sectionMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/taggedLink.ts
Due: eslint --fix, prettier --write

build: use vite for build (#284)
  .eslintrc.json
  .lintstagedrc.json
  babel.config.json
  jest.config.js
  package.json
  playwright.config.ts
  sample/src/App.tsx
  sample/src/index.ejs
  src/components/atoms/text/KaTeX/index.tsx
  src/components/organisms/EditorSyntaxMenu/hooks/bracketMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/codeMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/formulaMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/hashtagMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/itemizationMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/quotationMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/sectionMenu.ts
  src/components/organisms/EditorSyntaxMenu/hooks/taggedLink.ts
  src/contexts/EditorPropsContext.tsx
  src/contexts/ViewerPropsContext.tsx
  src/index.tsx
  target/App.tsx
  target/index.html
  target/index.tsx
  target/src/index.ejs
  target/src/index.tsx
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
  tsconfig.lib.json
  viteconfig.lib.ts
  viteconfig.tests.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

install storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write

fix config
  playwright.config.ts
  viteconfig.tests.ts
Due: prettier --write

update description
  README.md
  package.json
  target/index.html
Due: prettier --write

add empty page
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldHeader.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldHeader.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
  yarn.lock
Due: prettier --write

fix IME bug
  src/components/atoms/cursor/CursorTextArea/index.tsx
Due: eslint --fix, prettier --write

better default
  src/components/atoms/root/Root/index.tsx
  target/App.tsx
Due: eslint --fix, prettier --write

better default (take2)
  src/components/atoms/root/Root/index.tsx
Due: eslint --fix, prettier --write

update config
  .storybook/main.js
  .storybook/preview.js
Due: prettier --write

delete figure
  README.md
  figures/block-mode.png
  figures/display-mode.png
  figures/inline-mode.png
  package.json
Due: prettier --write

write install page
  docs/get-started/Install.stories.mdx
Due: none

update install page
  docs/get-started/Install.stories.mdx
Due: none

update readme
  README.md
Due: prettier --write

install storybook/addon-links
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write

write formatting syntax page
  docs/get-started/FormattingSyntax.stories.mdx
Due: none

use CDN for peer dependencies
  .storybook/main.js
  .storybook/preview-head.html
Due: prettier --write

fix
  docs/get-started/FormattingSyntax.stories.mdx
Due: none

update formatting syntax page
  docs/get-started/FormattingSyntax.stories.mdx
Due: none

rename package
  .storybook/preview-head.html
  .storybook/theme.js
  .vscode/settings.json
  README.md
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  package.json
  target/App.tsx
  target/index.html
  tests/keyboardSuggestionList.bracket.test.ts
  tests/keyboardSuggestionList.common.test.ts
  tests/keyboardSuggestionList.markdown.test.ts
  tests/menuCode.common.test.ts
  tests/menuDecoration.bracket.test.ts
  tests/menuDecoration.markdown.test.ts
  tests/menuItemization.bracket.test.ts
  tests/menuItemization.markdown.test.ts
  tests/menuLink.common.test.ts
  tests/menuQuotation.common.test.ts
  tests/menuSection.bracket.test.ts
  tests/menuSection.markdown.test.ts
  tests/mouseSuggestionList.common.test.ts
  unittests/parseText.testcase.ts
  viteconfig.lib.ts
  yarn.lock
Due: eslint --fix, prettier --write

use webpack5
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write

fix
  src/components/organisms/EditorSyntaxMenu/hooks/taggedLink.ts
Due: eslint --fix, prettier --write

update import
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
Due: none

write introduction page
  .lintstagedrc.json
  docs/get-started/Introduction.stories.mdx
  docs/ts/DemoEditor.tsx
  package.json
  tsconfig.json
Due: prettier --write

write editor page and viewer page
  docs/get-started/Editor.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Viewer.stories.mdx
Due: none

update viewer page
  docs/get-started/Viewer.stories.mdx
Due: none

update get-started pages
  docs/get-started/Editor.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
Due: none

format mdx
  .lintstagedrc.json
  .prettierrc.json
  docs/get-started/Editor.stories.mdx
  docs/get-started/FormattingSyntax.stories.mdx
  docs/get-started/Install.stories.mdx
  docs/get-started/Introduction.stories.mdx
  docs/get-started/Viewer.stories.mdx
  package.json
Due: prettier --write

write api overview page
  docs/api/Overview.stories.mdx
  docs/ts/ApiExplanation.tsx
Due: prettier --write

write root pages
  docs/api/EditorRoot.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/get-started/Introduction.stories.mdx
  src/components/organisms/EditorRoot/index.tsx
  src/components/organisms/ViewerRoot/index.tsx
  src/contexts/EditorPropsContext.tsx
  src/contexts/ViewerPropsContext.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

update root pages
  docs/api/EditorRoot.stories.mdx
  docs/api/ViewerRoot.stories.mdx
Due: none

write rest pages
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldHeader.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/Overview.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldHeader.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
Due: none

fix
  docs/api/EditorRoot.stories.mdx
  docs/api/EditorSyntaxMenu.stories.mdx
  docs/api/EditorTextFieldBody.stories.mdx
  docs/api/EditorTextFieldRoot.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  docs/api/ViewerTextFieldBody.stories.mdx
  docs/api/ViewerTextFieldRoot.stories.mdx
Due: none

fix
  docs/api/EditorRoot.stories.mdx
  docs/api/ViewerRoot.stories.mdx
  unittests/parseText.testcase.ts
Due: prettier --write
