Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: fix bug (#54)
  src/Cursor/utils.ts
  src/Editor/utils.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/style.css
Due: eslint --fix, prettier --write

v0.7.2
  package.json
Due: prettier --write

editor
  src/Editor/index.tsx
Due: eslint --fix

text lines
  src/TextLines/index.tsx
  src/TextLines/types.ts
Due: eslint --fix

textlines
  src/Cursor/utils.ts
  src/Selection/index.tsx
  src/Selection/utils.ts
  src/TextLines/index.tsx
Due: eslint --fix

default
  src/Editor/index.tsx
  src/TextLines/index.tsx
Due: eslint --fix

cursor
  src/Cursor/index.tsx
  src/Cursor/types.ts
  src/Editor/index.tsx
  src/Selection/index.tsx
Due: eslint --fix

fix
  src/Cursor/index.tsx
Due: eslint --fix

fix
  src/Editor/index.tsx
Due: eslint --fix

refactor: delete needless code
  src/Cursor/index.tsx
  src/Cursor/utils.ts
Due: eslint --fix

refactor: delete needless code (#56)
  src/Cursor/index.tsx
  src/Cursor/utils.ts
Due: eslint --fix

fix
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/Selection/index.tsx
  src/Selection/utils.ts
Due: eslint --fix

fix: fix scroll
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/TextLines/index.tsx
Due: eslint --fix

fix: fix scroll (#58)
  src/Cursor/index.tsx
  src/Cursor/utils.ts
  src/TextLines/index.tsx
Due: eslint --fix

v0.7.3
  package.json
Due: prettier --write

fix: fix underline
  src/TextLines/constants.ts
Due: eslint --fix

fix: fix underline (#59)
  src/TextLines/constants.ts
Due: eslint --fix

v0.7.4
  package.json
Due: prettier --write

chore: upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

fix multi-lines formula bug
  src/TextLines/index.tsx
Due: eslint --fix

feat: implement bracket complementation
  src/Editor/utils.ts
Due: eslint --fix

feat: implement bracket complementation (#60)
  src/Editor/utils.ts
  src/TextLines/index.tsx
Due: eslint --fix

feat: enable to select text by shift and arrow
  src/Editor/utils.ts
Due: eslint --fix

fix
  src/Editor/utils.ts
Due: eslint --fix

refactor
  src/Editor/utils.ts
Due: eslint --fix

feat: enable to select text by shift and arrow (#61)
  src/Editor/utils.ts
Due: eslint --fix

v0.8.0
  package.json
Due: prettier --write

block formula to display formula
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

fix priority
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
Due: eslint --fix

feat: support inline code-string
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/index.tsx
Due: eslint --fix

update sample
  sample/src/App.tsx
  src/Editor/index.tsx
Due: eslint --fix

update readme
  README.md
  src/index.tsx
Due: eslint --fix, prettier --write

fix
  README.md
Due: prettier --write

feat: support single line code-string (#66)
  README.md
  sample/src/App.tsx
  src/Editor/index.tsx
  src/Editor/types.ts
  src/TextLines/constants.ts
  src/TextLines/index.tsx
  src/TextLines/types.ts
  src/TextLines/utils.ts
  src/index.tsx
Due: eslint --fix, prettier --write

update sample
  sample/src/App.tsx
Due: none

fix: support full-width space indent
  src/TextLines/constants.ts
Due: eslint --fix

fix: support full-width space indent (#67)
  src/TextLines/constants.ts
Due: eslint --fix

v0.9.0
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
