Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

run yarn
  .pnp.cjs
  .yarn/cache/@types-prettier-npm-2.7.3-497316f37c-cda84c19ac.zip
  .yarn/cache/@types-prettier-npm-3.0.0-6c770110eb-a2a512d304.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.2.0-8b16e978f1-c50366021d.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.3.1-6afca5ab6a-8ed276113a.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.2.0-6d77f6601f-2236acd9f7.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.3.1-47e82bf9e5-018326010f.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.2.0-8fb6647d98-9b1d43c87b.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.3.1-0dd80025eb-7384d1f46d.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.2.0-eba302c832-1c4efcd068.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.3.1-669af8b443-fae9003a76.zip
  .yarn/cache/@typescript-eslint-types-npm-7.2.0-326870d984-d70cbd77f2.zip
  .yarn/cache/@typescript-eslint-types-npm-7.3.1-74cbf87cc3-c9c8eae1cf.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.2.0-2bddb1cc32-77a81dc903.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.3.1-d3da01d609-363ad9864b.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.2.0-ba7571577d-4852d43f1e.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.3.1-0ce8ef48d7-234d9d65fe.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.2.0-d24a1c5531-e0c9c7a9bb.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.3.1-f1c6b8f6ea-163a93597c.zip
  .yarn/cache/prettier-npm-2.8.8-430828a36c-00cdb6ab02.zip
  yarn.lock
Due: none

upgrade typescript-eslint
  .eslintrc.json
  .pnp.cjs
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.2.0-8b16e978f1-c50366021d.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.4.0-559b255afa-9bd8852c7e.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.2.0-6d77f6601f-2236acd9f7.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.4.0-0c13447ea1-142a9e1187.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.2.0-8fb6647d98-9b1d43c87b.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.4.0-0b20c139fb-8cf9292444.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.2.0-eba302c832-1c4efcd068.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.4.0-7aaf170a20-a8bd0929d8.zip
  .yarn/cache/@typescript-eslint-types-npm-7.2.0-326870d984-d70cbd77f2.zip
  .yarn/cache/@typescript-eslint-types-npm-7.4.0-3e79d39332-2782c5bf65.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.2.0-2bddb1cc32-77a81dc903.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.4.0-c2218411fa-162ec9d758.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.2.0-ba7571577d-4852d43f1e.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.4.0-cc89951e7f-ffed27e770.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.2.0-d24a1c5531-e0c9c7a9bb.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.4.0-fcd4bb6855-70dc99f2ad.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

downgrade eslint
  .pnp.cjs
  .yarn/cache/@eslint-eslintrc-npm-2.1.4-1ff4b5f908-7a3b14f4b4.zip
  .yarn/cache/@eslint-eslintrc-npm-3.0.2-1fbcfb08c5-04e3d7de2b.zip
  .yarn/cache/@eslint-js-npm-8.57.0-00ead3710a-3c501ce8a9.zip
  .yarn/cache/@eslint-js-npm-9.0.0-5e980024c8-b14b20af72.zip
  .yarn/cache/@humanwhocodes-config-array-npm-0.11.14-94a02fcc87-3ffb24ecdf.zip
  .yarn/cache/@humanwhocodes-config-array-npm-0.12.3-71a97339be-b05f528c11.zip
  .yarn/cache/eslint-npm-8.57.0-4286e12a3a-00496e218b.zip
  .yarn/cache/eslint-npm-9.0.0-93671e58d9-5cf03e14eb.zip
  .yarn/cache/eslint-scope-npm-7.2.2-53cb0df8e8-5c660fb905.zip
  .yarn/cache/eslint-scope-npm-8.0.1-20a4626de0-458513863d.zip
  .yarn/cache/eslint-visitor-keys-npm-4.0.0-9098eefd77-c7617166e6.zip
  .yarn/cache/espree-npm-10.0.1-1d04a36678-557d6cfb48.zip
  .yarn/cache/espree-npm-9.6.1-a50722a5a9-255ab260f0.zip
  .yarn/cache/file-entry-cache-npm-6.0.1-31965cf0af-099bb9d4ab.zip
  .yarn/cache/file-entry-cache-npm-8.0.0-5b09d19a83-afe55c4de4.zip
  .yarn/cache/flat-cache-npm-3.2.0-9a887f084e-02381c6ece.zip
  .yarn/cache/flat-cache-npm-4.0.1-12bf2455f7-58ce851d90.zip
  .yarn/cache/globals-npm-13.24.0-cc7713139c-62c5b1997d.zip
  .yarn/cache/globals-npm-14.0.0-5fc3d8d5da-03939c8af9.zip
  .yarn/cache/type-fest-npm-0.20.2-b36432617f-8907e16284.zip
  .yarn/sdks/eslint/package.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

update yarn sdks
  .yarn/sdks/typescript/package.json
Due: prettier --write, sort-package-json

upgrade yarn
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --write, sort-package-json

update editor sdks
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
Due: prettier --write

fix: update package.json for TypeScript 5
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  9b6a0a7741f6117c181ac58873526193582d1351
Due: none

build: fix semantic release action
  .github/workflows/reusable-release.yml
Due: prettier --write

build: fix semantic release action (#398)
  .github/workflows/reusable-release.yml
Due: prettier --write

Notes added by 'git notes add'
  d6f6efa6ddd44efd1eda9901aa6cea1ca89eca9c
Due: none

fix: cannot focus editor when used in Next.js app
  src/components/atoms/menu/DropdownMenu/hooks.ts
  src/components/organisms/EditorRoot/hooks.ts
  src/components/organisms/EditorRoot/index.tsx
  src/components/organisms/EditorSyntaxMenu/index.tsx
  src/components/organisms/EditorTextFieldRoot/hooks.ts
Due: eslint --fix, prettier --write

fix: cannot focus editor when used in Next.js app (#399)
  src/components/atoms/menu/DropdownMenu/hooks.ts
  src/components/organisms/EditorRoot/hooks.ts
  src/components/organisms/EditorRoot/index.tsx
  src/components/organisms/EditorSyntaxMenu/index.tsx
  src/components/organisms/EditorTextFieldRoot/hooks.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7ac32a9da725c254ff0e85f2a321daaeb9d3ce31
Due: none

fix: use tsc to build package
  package.json
  tsconfig.lib.json
  viteconfig.lib.mts
Due: prettier --write, sort-package-json

fix: fix build config
  package.json
  tsconfig.json
  viteconfig.lib.mts
Due: prettier --write, sort-package-json

fix: fix build config (#404)
  package.json
  tsconfig.json
  viteconfig.lib.mts
Due: prettier --write, sort-package-json

Path conditions:
  eslint --fix: any of: ./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}
  sort-package-json: any of: ./**/package.json
