Repository kumachan-mis/react-clay-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

.lintstagedrc.json:

{
  "./{src,docs,target,tests,unittests}/**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,htm,html,js,jsx,json,md,mdx,scss,ts,tsx,yaml,yml}": ["prettier --write"],
  "./**/package.json": ["sort-package-json"]
}

update github workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

build: update node version (#362)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .releaserc
  .tool-versions
Due: prettier --write

fix: run release only on main brancch
  .github/workflows/release.yml
Due: prettier --write

fix: run release only on main branch (#363)
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  504824d6cf2fe4bfe92b19e7d1551ac8e1877eba
Due: none

chore: change package version to 0.0.0-semantically-released
  package.json
Due: prettier --write, sort-package-json

chore: change package version to 0.0.0-semantically-released (#364)
  package.json
Due: prettier --write, sort-package-json

chore: use reusable workflows
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/reusable-unittest.yml
  .github/workflows/test.yml
Due: prettier --write

fix
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/reusable-unittest.yml
Due: prettier --write

add npm token
  .github/workflows/reusable-release.yml
Due: prettier --write

chore: use reusable workflows (#365)
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
  .github/workflows/reusable-unittest.yml
  .github/workflows/test.yml
Due: prettier --write

build: pass NPM_TOKEN to reusable workflows
  .github/workflows/push.yml
  .github/workflows/reusable-release.yml
Due: prettier --write

build: pass NPM_TOKEN to reusable workflows (#367)
  .github/workflows/push.yml
  .github/workflows/reusable-release.yml
Due: prettier --write

build: deploy Storybook from actions
  .github/workflows/push.yml
  .github/workflows/reusable-ghpages.yml
  .pnp.cjs
  .yarn/cache/array-union-npm-1.0.2-cc61ee268f-82cec6421b.zip
  .yarn/cache/array-uniq-npm-1.0.3-e7f5d6f3a1-1625f06b09.zip
  .yarn/cache/commander-npm-11.0.0-7def992f0c-71cf453771.zip
  .yarn/cache/email-addresses-npm-5.0.0-218d2e9289-a7897e3b43.zip
  .yarn/cache/filename-reserved-regex-npm-2.0.0-5d8c6e337c-9322b45726.zip
  .yarn/cache/filenamify-npm-4.3.0-e6531169ab-5b71a7ff8e.zip
  .yarn/cache/gh-pages-npm-6.1.1-7bde86cdf6-b821a1f24b.zip
  .yarn/cache/globby-npm-6.1.0-590bfb2681-18109d6b9d.zip
  .yarn/cache/pify-npm-2.3.0-8b63310934-9503aaeaf4.zip
  .yarn/cache/pinkie-npm-2.0.4-cffce4fb09-11d207257a.zip
  .yarn/cache/pinkie-promise-npm-2.0.1-095439b8c5-b53a4a2e73.zip
  .yarn/cache/strip-outer-npm-1.0.1-4ed024bb0a-f8d65d33ca.zip
  .yarn/cache/trim-repeated-npm-1.0.0-1152152315-e25c235305.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

build: deploy Storybook from actions (#372)
  .github/workflows/push.yml
  .github/workflows/reusable-ghpages.yml
  .pnp.cjs
  .yarn/cache/array-union-npm-1.0.2-cc61ee268f-82cec6421b.zip
  .yarn/cache/array-uniq-npm-1.0.3-e7f5d6f3a1-1625f06b09.zip
  .yarn/cache/commander-npm-11.0.0-7def992f0c-71cf453771.zip
  .yarn/cache/email-addresses-npm-5.0.0-218d2e9289-a7897e3b43.zip
  .yarn/cache/filename-reserved-regex-npm-2.0.0-5d8c6e337c-9322b45726.zip
  .yarn/cache/filenamify-npm-4.3.0-e6531169ab-5b71a7ff8e.zip
  .yarn/cache/gh-pages-npm-6.1.1-7bde86cdf6-b821a1f24b.zip
  .yarn/cache/globby-npm-6.1.0-590bfb2681-18109d6b9d.zip
  .yarn/cache/pify-npm-2.3.0-8b63310934-9503aaeaf4.zip
  .yarn/cache/pinkie-npm-2.0.4-cffce4fb09-11d207257a.zip
  .yarn/cache/pinkie-promise-npm-2.0.1-095439b8c5-b53a4a2e73.zip
  .yarn/cache/strip-outer-npm-1.0.1-4ed024bb0a-f8d65d33ca.zip
  .yarn/cache/trim-repeated-npm-1.0.0-1152152315-e25c235305.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: add permissions
  .github/workflows/reusable-ghpages.yml
Due: prettier --write

chore: add permissions (#373)
  .github/workflows/reusable-ghpages.yml
Due: prettier --write

chore: fix github actions
  .github/workflows/reusable-ghpages.yml
Due: prettier --write

chore: fix github actions (#374)
  .github/workflows/reusable-ghpages.yml
Due: prettier --write

chore: fix indentation of github actions
  .github/workflows/reusable-ghpages.yml
Due: prettier --write

chore: fix indentation of github actions (#375)
  .github/workflows/reusable-ghpages.yml
Due: prettier --write

downgrade typescript-eslint
  .pnp.cjs
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.2.0-8b16e978f1-c50366021d.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.3.1-6afca5ab6a-8ed276113a.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.2.0-6d77f6601f-2236acd9f7.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.3.1-47e82bf9e5-018326010f.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.2.0-8fb6647d98-9b1d43c87b.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.3.1-0dd80025eb-7384d1f46d.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.2.0-eba302c832-1c4efcd068.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.3.1-669af8b443-fae9003a76.zip
  .yarn/cache/@typescript-eslint-types-npm-7.2.0-326870d984-d70cbd77f2.zip
  .yarn/cache/@typescript-eslint-types-npm-7.3.1-74cbf87cc3-c9c8eae1cf.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.2.0-2bddb1cc32-77a81dc903.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.3.1-d3da01d609-363ad9864b.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.2.0-ba7571577d-4852d43f1e.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.3.1-0ce8ef48d7-234d9d65fe.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.2.0-d24a1c5531-e0c9c7a9bb.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.3.1-f1c6b8f6ea-163a93597c.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

update yarn
  .vscode/settings.json
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
Due: prettier --write, sort-package-json
